In [26]:
import pandas as pd

In [27]:
file_path = '../datasets/bbOrders.xlsx' 
bbOrders = pd.read_excel(file_path)

In [28]:
#Посмотрим на количество данных в Excel файле
print("Размер таблицы (строки, столбцы):", bbOrders.shape)

Размер таблицы (строки, столбцы): (29899, 135)

In [29]:
print("Названия колонок:", bbOrders.columns.tolist())

Названия колонок: ['Ref', 'DeletionMark', 'Date', 'Number', 'Posted', 'Заказчик', 'ВремяНачала', 'ПланируемоеВремяОкончания', 'ФактическоеВремяОкончания', 'Загрузка', 'Разгрузка', 'ТС', 'Комментарии', 'ПланируемоеВремяРаботы', 'ФактическоеВремяРаботы', 'ПланируемоеВремяПодачи', 'ФактическоеВремяПодачи', 'КонтактноеЛицо', 'ЦенаЗаЧас', 'Организация', 'Ответсвенный', 'РасчетнаяСтоимость', 'ФактическаяСтоимость', 'Модель', 'КоличествоПассажиров', 'ТипТС', 'Водитель', 'Сигнатура', 'Тариф', 'ПоказанияСпидометра', 'ОтработанныеЧасыВодителя', 'Утвержден', 'НаличныеВодителю', 'Мойка', 'Перекат', 'СтоимостьПереката', 'Табличка', 'НомерВТТ', 'ПЛ', 'Статус', 'Маршрут', 'Расстояние', 'ВремяВПути', 'Договор', 'Исполнитель', 'ОсновнойПассажир', 'ТелефонОсновногоПассажира', 'ВидПредоплаты', 'СобственноеТС', 'ВнутреннийНомерУЗаказчика', 'НаличныеВодителюФлаг', 'Оплачено', 'ДатаОплаты', 'Изменен', 'ЖдемОплатуДо', 'Цвет', 'ОтправленоСМСВодителю', 'ОтправленоСМСЗаказчику', 'УтвержденоТС', 'ЗагрузкаПункт', 'ЗагрузкаАдрес', 'РазгрузкаПункт', 'РазгрузкаАдрес', 'ОплаченоМенеджеру', 'СуммаИсполнителю', 'НомерПП', 'Счет', 'Акт', 'ПланируемоеВремяДополнительное', 'Транспорт', 'Создатель', 'Предзаказ', 'Водитель2', 'ЧасыВодителю', 'ЧасыВодителюАвтоВычисление', 'ЧасыВодителю2', 'ЧасыВодителю2АвтоВычисление', 'ТребуетУтвережедения', 'Закрыт', 'ОтправлятьСМСЗаказчику', 'ОтправлятьСМСКонтактномуЛицу', 'ОтправлятьСМСОсновномуПассажиру', 'НалПолучено', 'ТребуетсяВторойВодитель', 'ОплатуПолучилМенеджер', 'Комиссия', 'ЗарубежнаяПоездка', 'НомерРодительскогоЗаказа', 'ВидПредоплаты2', 'НалПолучено2', 'Пробег', 'ТипЗаказа', 'ИзменитьТипОплатыПереката', 'ЦенаЗаПерекат', 'АвторасчетЦенПартнеров', 'СтатусЗаказа', 'ИзменитьТекстСМС', 'ЦенаЗаЧасИсполнителя', 'КомментарийКМаршруту', 'ТребуетсяТуалет', 'Многодневный', 'Аннулирован', 'ДатаАннуляции', 'ПричинаАннуляции', 'УтвержденДиспетчером', 'КомментарииДляВодителя', 'ДанныеОтданы', 'Акция', 'ТипАкции', 'НомерППКопия', 'КомментарииПоЗавершению', 'ВалютаДокумента', 'КурсВзаиморасчетов', 'КратностьВзаиморасчетов', 'Багаж', 'Уведомление', 'РежимныйОбъект', 'ДанныеОтданыНаПропуск', 'id_pyrus', 'Постоянка', 'МежрегиональнаяПоездка', 'СтавкаВодителю', 'КоэффициентВодителю', 'ДокументОснование', 'ЦенаЗаКилометр', 'РасстояниеЗаМКАД', 'АдресФормыОплаты', 'ОплатаЗаказаИД', 'СтатусОплаты', 'СимволНомераБанк', 'СуммаНаценки', 'Задачи', 'ДопУслуги', 'ПромежуточныеТочки', 'Заправки']

In [30]:
#Посмотрим на значения данных в bbOrders
bbOrders.head(20)

,Ref,DeletionMark,Date,Number,Posted,Заказчик,ВремяНачала,ПланируемоеВремяОкончания,ФактическоеВремяОкончания,Загрузка,...,РасстояниеЗаМКАД,АдресФормыОплаты,ОплатаЗаказаИД,СтатусОплаты,СимволНомераБанк,СуммаНаценки,Задачи,ДопУслуги,ПромежуточныеТочки,Заправки
0,378d00c4-9591-11e8-80cf-00155ddeca01,True,2018-08-01 16:45:57,466870,False,ccf89ee4-5d1c-11e5-b334-002590f18851,2019-08-18 09:30:00,2019-08-18 13:30:00,NaN,[Table],...,0,NaN,NaN,0,NaN,0,[Table],[Table],[Table],NaN
1,db03f900-964e-11e8-80d0-00155ddeca01,True,2018-08-02 15:23:27,467524,False,faa79476-0fd5-11e8-80cc-00155ddeca01,2019-09-02 08:55:00,2019-09-02 10:55:00,NaN,[Table],...,0,NaN,NaN,0,NaN,0,[Table],[Table],[Table],NaN
2,2a810e11-a6cd-11e8-80d0-00155ddeca01,True,2018-08-23 15:07:55,477312,False,07e2c106-04c9-11e8-80cc-00155ddeca01,2019-09-24 09:30:00,2019-09-24 09:30:00,NaN,[Table],...,0,NaN,NaN,0,NaN,0,[Table],[Table],[Table],NaN
3,b750f631-b993-11e8-80d0-00155ddeca01,True,2018-09-16 12:34:33,487534,False,a5194a0a-240a-11e6-b507-002590f18851,2019-08-05 13:40:00,2019-08-05 13:40:00,NaN,[Table],...,0,NaN,NaN,0,NaN,0,[Table],[Table],[Table],NaN
4,c55d8ce8-ba7f-11e8-80d0-00155ddeca01,True,2018-09-17 16:44:27,488469,False,bebe7ce9-947c-11e7-80cb-00155ddeca01,2019-05-25 09:00:00,2019-05-25 15:00:00,NaN,[Table],...,0,NaN,NaN,0,NaN,0,[Table],[Table],[Table],NaN
5,9df4720b-bfd9-11e8-80d0-00155ddeca01,False,2018-09-24 12:10:02,492592,True,ca18ada7-f15f-11e8-80d1-00155ddeca01,2019-05-04 17:40:00,2019-05-04 21:40:00,NaN,[Table],...,0,NaN,NaN,0,NaN,0,[Table],[Table],[Table],NaN
6,a5d5a416-bfd9-11e8-80d0-00155ddeca01,False,2018-09-24 12:10:15,492593,True,ca18ada7-f15f-11e8-80d1-00155ddeca01,2019-05-04 17:40:00,2019-05-04 21:40:00,NaN,[Table],...,0,NaN,NaN,0,NaN,0,[Table],[Table],[Table],NaN
7,ac810d27-bfd9-11e8-80d0-00155ddeca01,False,2018-09-24 12:10:26,492594,True,ca18ada7-f15f-11e8-80d1-00155ddeca01,2019-05-04 17:40:00,2019-05-04 21:40:00,NaN,[Table],...,0,NaN,NaN,0,NaN,0,[Table],[Table],[Table],NaN
8,be408f3e-bfd9-11e8-80d0-00155ddeca01,False,2018-09-24 12:11:05,492595,True,ca18ada7-f15f-11e8-80d1-00155ddeca01,2019-05-05 09:30:00,2019-05-05 23:30:00,NaN,[Table],...,0,NaN,NaN,0,NaN,0,[Table],[Table],[Table],NaN
9,49467001-bfda-11e8-80d0-00155ddeca01,False,2018-09-24 12:14:55,492597,True,ca18ada7-f15f-11e8-80d1-00155ddeca01,2019-05-05 09:30:00,2019-05-05 23:30:00,NaN,[Table],...,0,NaN,NaN,0,NaN,0,[Table],[Table],[Table],NaN
10,5100a691-bfda-11e8-80d0-00155ddeca01,False,2018-09-24 12:15:07,492598,True,ca18ada7-f15f-11e8-80d1-00155ddeca01,2019-05-05 12:00:00,2019-05-05 23:30:00,NaN,[Table],...,0,NaN,NaN,0,NaN,0,[Table],[Table],[Table],NaN
11,60c01e88-bfda-11e8-80d0-00155ddeca01,False,2018-09-24 12:15:38,492599,True,ca18ada7-f15f-11e8-80d1-00155ddeca01,2019-05-06 13:00:00,2019-05-07 01:00:00,NaN,[Table],...,0,NaN,NaN,0,NaN,0,[Table],[Table],[Table],NaN
12,67b239e6-bfda-11e8-80d0-00155ddeca01,False,2018-09-24 12:15:49,492600,True,ca18ada7-f15f-11e8-80d1-00155ddeca01,2019-05-06 13:00:00,2019-05-07 01:00:00,NaN,[Table],...,0,NaN,NaN,0,NaN,0,[Table],[Table],[Table],NaN
13,70d5c647-bfda-11e8-80d0-00155ddeca01,False,2018-09-24 12:15:59,492601,True,ca18ada7-f15f-11e8-80d1-00155ddeca01,2019-05-06 13:00:00,2019-05-07 01:00:00,NaN,[Table],...,0,NaN,NaN,0,NaN,0,[Table],[Table],[Table],NaN
14,859e33cb-bfda-11e8-80d0-00155ddeca01,False,2018-09-24 12:16:31,492602,True,ca18ada7-f15f-11e8-80d1-00155ddeca01,2019-05-07 07:00:00,2019-05-07 11:00:00,NaN,[Table],...,0,NaN,NaN,0,NaN,0,[Table],[Table],[Table],NaN
15,8c4ce7fe-bfda-11e8-80d0-00155ddeca01,False,2018-09-24 12:16:42,492603,True,ca18ada7-f15f-11e8-80d1-00155ddeca01,2019-05-07 07:00:00,2019-05-07 11:00:00,NaN,[Table],...,0,NaN,NaN,0,NaN,0,[Table],[Table],[Table],NaN
16,9280e5db-bfda-11e8-80d0-00155ddeca01,False,2018-09-24 12:16:52,492604,True,ca18ada7-f15f-11e8-80d1-00155ddeca01,2019-05-07 07:00:00,2019-05-07 11:00:00,NaN,[Table],...,0,NaN,NaN,0,NaN,0,[Table],[Table],[Table],NaN
17,7c233ab0-bff5-11e8-80d0-00155ddeca01,True,2018-09-24 15:29:31,492743,False,7d261128-c9e3-11e3-98d9-0025906734d9,2019-10-01 12:30:00,2019-10-01 14:00:00,NaN,[Table],...,0,NaN,NaN,0,NaN,0,[Table],[Table],[Table],NaN
18,506167c0-c090-11e8-80d0-00155ddeca01,False,2018-09-25 09:57:50,493132,True,98bff23f-c08f-11e8-80d0-00155ddeca01,2019-06-20 18:00:00,2019-06-20 22:00:00,NaN,[Table],...,0,NaN,NaN,0,NaN,0,[Table],[Table],[Table],NaN
19,60d39764-c090-11e8-80d0-00155ddeca01,False,2018-09-25 09:58:18,493134,True,98bff23f-c08f-11e8-80d0-00155ddeca01,2019-06-20 18:00:00,2019-06-20 22:00:00,NaN,[Table],...,0,NaN,NaN,0,NaN,0,[Table],[Table],[Table],NaN

In [31]:
#Оставим в bbOrders нужные колонки для работы
columns_to_keep = [
    'Ref', 'Date', 'Number', 'Заказчик', 'ВремяНачала', 'ПланируемоеВремяОкончания',
    'Загрузка', 'Разгрузка', 'ТС', 'Комментарии','ПланируемоеВремяРаботы', 
    'ФактическоеВремяРаботы', 'ПланируемоеВремяПодачи', 'ФактическоеВремяПодачи', 
    'КонтактноеЛицо', 'ЦенаЗаЧас', 'Организация', 'Ответсвенный',
    'РасчетнаяСтоимость', 'ФактическаяСтоимость', 'Модель', 'КоличествоПассажиров',
    'ТипТС', 'Водитель', 'Тариф', 'Перекат', 'Табличка', 'Исполнитель', 'СобственноеТС',
    'ВнутреннийНомерУЗаказчика', 'Оплачено', 'ДатаОплаты', 'ЖдемОплатуДо',
    'ОтправленоСМСВодителю', 'ОтправленоСМСЗаказчику', 'ЗагрузкаПункт', 'ЗагрузкаАдрес',
    'РазгрузкаПункт', 'РазгрузкаАдрес', 'НомерПП', 'Счет', 'Акт', 'Создатель', 'Водитель2',
    'ЧасыВодителю', 'ЧасыВодителю2', 'ОтправлятьСМСКонтактномуЛицу', 'НалПолучено',
    'ТребуетсяВторойВодитель', 'ЗарубежнаяПоездка', 'НомерРодительскогоЗаказа',
    'ВидПредоплаты2', 'НалПолучено2', 'ТипЗаказа', 'СтатусЗаказа', 'ЦенаЗаЧасИсполнителя',
    'КомментарийКМаршруту', 'ТребуетсяТуалет', 'Многодневный', 'Аннулирован',
    'ДатаАннуляции', 'ПричинаАннуляции', 'УтвержденДиспетчером', 'КомментарииДляВодителя',
    'ДанныеОтданы', 'Акция', 'НомерППКопия', 'КомментарииПоЗавершению', 'Багаж',
    'Уведомление', 'Задачи', 'ДопУслуги', 'ПромежуточныеТочки'
]

In [32]:
# Проверка наличия колонок
missing_columns = [col for col in columns_to_keep if col not in bbOrders.columns]

if missing_columns:
    print("В датафрейме отсутствуют следующие колонки:")
    for col in missing_columns:
        print(" -", col)

# Фильтрация по доступным колонкам
available_columns = [col for col in columns_to_keep if col in bbOrders.columns]
bbOrders_filtered = bbOrders[available_columns]

# Проверка, что в bbOrders_filtered остались только нужные колонки
if set(bbOrders_filtered.columns) == set(columns_to_keep):
    print("В датафрейме остались только нужные колонки.")
else:
    extra_columns = set(bbOrders_filtered.columns) - set(columns_to_keep)
    if extra_columns:
        print("Остались лишние колонки в отфильтрованном датафрейме:")
        for col in extra_columns:
            print(" -", col)

# Вывод результата
print("\nРазмер отфильтрованного датафрейма:", bbOrders_filtered.shape)
bbOrders_filtered.head()

В датафрейме остались только нужные колонки.

Размер отфильтрованного датафрейма: (29899, 73)

,Ref,Date,Number,Заказчик,ВремяНачала,ПланируемоеВремяОкончания,Загрузка,Разгрузка,ТС,Комментарии,...,КомментарииДляВодителя,ДанныеОтданы,Акция,НомерППКопия,КомментарииПоЗавершению,Багаж,Уведомление,Задачи,ДопУслуги,ПромежуточныеТочки
0,378d00c4-9591-11e8-80cf-00155ddeca01,2018-08-01 16:45:57,466870,ccf89ee4-5d1c-11e5-b334-002590f18851,2019-08-18 09:30:00,2019-08-18 13:30:00,[Table],[Table],abf811b6-5b5c-11e8-80cf-00155ddeca01,[Table],...,[Table],False,False,NaN,NaN,False,NaN,[Table],[Table],[Table]
1,db03f900-964e-11e8-80d0-00155ddeca01,2018-08-02 15:23:27,467524,faa79476-0fd5-11e8-80cc-00155ddeca01,2019-09-02 08:55:00,2019-09-02 10:55:00,[Table],[Table],00000000-0000-0000-0000-000000000000,[Table],...,[Table],False,False,NaN,NaN,False,NaN,[Table],[Table],[Table]
2,2a810e11-a6cd-11e8-80d0-00155ddeca01,2018-08-23 15:07:55,477312,07e2c106-04c9-11e8-80cc-00155ddeca01,2019-09-24 09:30:00,2019-09-24 09:30:00,[Table],[Table],c54eec64-d338-11e7-80cb-00155ddeca01,[Table],...,[Table],False,False,NaN,NaN,False,NaN,[Table],[Table],[Table]
3,b750f631-b993-11e8-80d0-00155ddeca01,2018-09-16 12:34:33,487534,a5194a0a-240a-11e6-b507-002590f18851,2019-08-05 13:40:00,2019-08-05 13:40:00,[Table],[Table],00000000-0000-0000-0000-000000000000,[Table],...,[Table],False,False,NaN,NaN,False,NaN,[Table],[Table],[Table]
4,c55d8ce8-ba7f-11e8-80d0-00155ddeca01,2018-09-17 16:44:27,488469,bebe7ce9-947c-11e7-80cb-00155ddeca01,2019-05-25 09:00:00,2019-05-25 15:00:00,[Table],[Table],00000000-0000-0000-0000-000000000000,[Table],...,[Table],False,True,37.0,NaN,False,NaN,[Table],[Table],[Table]

In [33]:
# Замена всех NaN
bbOrders_filtered = bbOrders_filtered.fillna("Not Information")
bbOrders_filtered.head()

,Ref,Date,Number,Заказчик,ВремяНачала,ПланируемоеВремяОкончания,Загрузка,Разгрузка,ТС,Комментарии,...,КомментарииДляВодителя,ДанныеОтданы,Акция,НомерППКопия,КомментарииПоЗавершению,Багаж,Уведомление,Задачи,ДопУслуги,ПромежуточныеТочки
0,378d00c4-9591-11e8-80cf-00155ddeca01,2018-08-01 16:45:57,466870,ccf89ee4-5d1c-11e5-b334-002590f18851,2019-08-18 09:30:00,2019-08-18 13:30:00,[Table],[Table],abf811b6-5b5c-11e8-80cf-00155ddeca01,[Table],...,[Table],False,False,Not Information,Not Information,False,Not Information,[Table],[Table],[Table]
1,db03f900-964e-11e8-80d0-00155ddeca01,2018-08-02 15:23:27,467524,faa79476-0fd5-11e8-80cc-00155ddeca01,2019-09-02 08:55:00,2019-09-02 10:55:00,[Table],[Table],00000000-0000-0000-0000-000000000000,[Table],...,[Table],False,False,Not Information,Not Information,False,Not Information,[Table],[Table],[Table]
2,2a810e11-a6cd-11e8-80d0-00155ddeca01,2018-08-23 15:07:55,477312,07e2c106-04c9-11e8-80cc-00155ddeca01,2019-09-24 09:30:00,2019-09-24 09:30:00,[Table],[Table],c54eec64-d338-11e7-80cb-00155ddeca01,[Table],...,[Table],False,False,Not Information,Not Information,False,Not Information,[Table],[Table],[Table]
3,b750f631-b993-11e8-80d0-00155ddeca01,2018-09-16 12:34:33,487534,a5194a0a-240a-11e6-b507-002590f18851,2019-08-05 13:40:00,2019-08-05 13:40:00,[Table],[Table],00000000-0000-0000-0000-000000000000,[Table],...,[Table],False,False,Not Information,Not Information,False,Not Information,[Table],[Table],[Table]
4,c55d8ce8-ba7f-11e8-80d0-00155ddeca01,2018-09-17 16:44:27,488469,bebe7ce9-947c-11e7-80cb-00155ddeca01,2019-05-25 09:00:00,2019-05-25 15:00:00,[Table],[Table],00000000-0000-0000-0000-000000000000,[Table],...,[Table],False,True,37.0,Not Information,False,Not Information,[Table],[Table],[Table]

In [34]:
print("\nТипы данных по колонкам:")
print(bbOrders_filtered.dtypes.value_counts())
print(bbOrders_filtered.dtypes)

Типы данных по колонкам:
object            42
bool              14
int64             11
float64            4
datetime64[ns]     2
dtype: int64
Ref                           object
Date                  datetime64[ns]
Number                         int64
Заказчик                      object
ВремяНачала           datetime64[ns]
                           ...
Багаж                           bool
Уведомление                   object
Задачи                        object
ДопУслуги                     object
ПромежуточныеТочки            object
Length: 73, dtype: object

In [38]:
#Посмотрим на уникальные значения каждой колонки
for col in bbOrders_filtered.columns:
    print(f"\nУникальные значения в колонке '{col}': ({bbOrders_filtered[col].nunique()} всего)")
    print(bbOrders_filtered[col].value_counts().head(10))

Уникальные значения в колонке 'Ref': (29899 всего)
378d00c4-9591-11e8-80cf-00155ddeca01    1
92e8f615-4598-11e9-80d3-00155ddeca01    1
e379a29d-4598-11e9-80d3-00155ddeca01    1
e379a29a-4598-11e9-80d3-00155ddeca01    1
cce10d7e-4597-11e9-80d3-00155ddeca01    1
dc0a891b-4598-11e9-80d3-00155ddeca01    1
d4c4555c-4598-11e9-80d3-00155ddeca01    1
c5bf2795-4598-11e9-80d3-00155ddeca01    1
bf70b5ed-4598-11e9-80d3-00155ddeca01    1
ae6678fb-4598-11e9-80d3-00155ddeca01    1
Name: Ref, dtype: int64

Уникальные значения в колонке 'Date': (17821 всего)
2018-12-29 08:50:48    7
2018-12-29 08:48:14    7
2018-12-29 08:48:17    7
2018-12-29 10:25:12    7
2018-12-29 08:42:22    7
2018-12-29 09:14:52    7
2018-12-03 09:03:55    7
2018-12-03 09:03:56    7
2018-12-29 09:14:53    7
2018-12-03 09:03:58    7
Name: Date, dtype: int64

Уникальные значения в колонке 'Number': (29899 всего)
466870    1
581928    1
581941    1
581940    1
581914    1
581939    1
581938    1
581935    1
581934    1
581933    1
Name: Number, dtype: int64

Уникальные значения в колонке 'Заказчик': (980 всего)
faa79476-0fd5-11e8-80cc-00155ddeca01    1917
2516f8e8-f802-11e5-a090-002590f18851    1884
92d797c1-5ef9-11e6-80c4-00155ddeca07    1577
0e82ed41-4576-11e9-80d3-00155ddeca01    1478
c4d84a12-0854-11e6-b507-002590f18851    1382
59d1a389-d63c-11e5-84ea-002590f18851    1237
c9fba246-2fa2-11e5-b334-002590f18851    1173
53b54936-ca9d-11e7-80cb-00155ddeca01     976
4af1d926-c9e6-11e3-98d9-0025906734d9     944
891c1268-c9e3-11e3-98d9-0025906734d9     613
Name: Заказчик, dtype: int64

Уникальные значения в колонке 'ВремяНачала': (8686 всего)
2019-07-20 09:00:00    87
2019-07-14 10:00:00    73
2019-07-13 10:00:00    70
2019-07-15 10:00:00    65
2019-05-04 17:00:00    63
2019-05-07 05:00:00    61
2019-04-29 17:00:00    49
2019-07-06 09:00:00    48
2020-04-06 09:00:00    48
2019-07-14 09:00:00    46
Name: ВремяНачала, dtype: int64

Уникальные значения в колонке 'ПланируемоеВремяОкончания': (10095 всего)
2019-04-30 02:00:00    82
2019-05-05 02:00:00    69
2019-05-07 14:00:00    63
2020-04-06 21:00:00    48
2019-07-20 15:00:00    47
2019-04-08 16:00:00    42
2019-04-03 16:00:00    41
2019-04-01 16:00:00    39
2019-05-02 21:00:00    38
2019-05-01 21:00:00    38
Name: ПланируемоеВремяОкончания, dtype: int64

Уникальные значения в колонке 'Загрузка': (1 всего)
[Table]    29899
Name: Загрузка, dtype: int64

Уникальные значения в колонке 'Разгрузка': (1 всего)
[Table]    29899
Name: Разгрузка, dtype: int64

Уникальные значения в колонке 'ТС': (544 всего)
00000000-0000-0000-0000-000000000000    7273
93b2cf25-9e00-11e3-a346-0025906734d9     303
1c5690f0-445b-11e7-80c9-00155ddeca01     278
606e36a2-445b-11e7-80c9-00155ddeca01     271
a3039b34-e808-11e3-9011-0025906734d9     259
ea18811e-445a-11e7-80c9-00155ddeca01     259
3582afed-2f07-11e7-80c9-00155ddeca01     248
8d7abf14-3013-11e7-80c9-00155ddeca01     232
93b2cf61-9e00-11e3-a346-0025906734d9     218
372e8f36-3383-11e9-80d3-00155ddeca01     195
Name: ТС, dtype: int64

Уникальные значения в колонке 'Комментарии': (1 всего)
[Table]    29899
Name: Комментарии, dtype: int64

Уникальные значения в колонке 'ПланируемоеВремяРаботы': (51 всего)
4.0     7628
12.0    1947
5.0     1894
14.0    1511
10.0    1405
9.0     1360
2.0     1162
13.0    1102
6.0     1073
8.0     1039
Name: ПланируемоеВремяРаботы, dtype: int64

Уникальные значения в колонке 'ФактическоеВремяРаботы': (608 всего)
6     1756
17    1549
7     1334
5     1232
8      993
9      927
11     890
16     688
19     636
10     619
Name: ФактическоеВремяРаботы, dtype: int64

Уникальные значения в колонке 'ПланируемоеВремяПодачи': (35 всего)
2.0    15849
0.0     4371
4.0     2739
1.0     2580
3.0     2319
5.0      810
6.0      280
3.5      269
4.5      204
2.5      119
Name: ПланируемоеВремяПодачи, dtype: int64

Уникальные значения в колонке 'ФактическоеВремяПодачи': (1 всего)
0    29899
Name: ФактическоеВремяПодачи, dtype: int64

Уникальные значения в колонке 'КонтактноеЛицо': (572 всего)
00000000-0000-0000-0000-000000000000    8176
b08e6f78-c63e-11e8-80d0-00155ddeca01    1577
3d559b6a-0511-11e8-80cc-00155ddeca01    1382
5782f664-01da-11e9-80d2-00155ddeca01    1270
abc33f09-caa0-11e7-80cb-00155ddeca01     976
2d6ccd2f-e144-11e5-a090-002590f18851     965
13b3a821-298d-11e6-b507-002590f18851     813
891c1270-c9e3-11e3-98d9-0025906734d9     613
2caec1f1-ce7d-11e6-80c4-00155ddeca07     610
bb760886-7ff3-11e6-80c4-00155ddeca07     596
Name: КонтактноеЛицо, dtype: int64

Уникальные значения в колонке 'ЦенаЗаЧас': (402 всего)
1670.0    2721
1500.0    1945
1650.0    1816
1775.0    1676
1850.0    1478
1800.0    1220
1700.0    1141
1350.0     662
0.0        655
1300.0     566
Name: ЦенаЗаЧас, dtype: int64

Уникальные значения в колонке 'Организация': (6 всего)
800a2a8d-9bb7-11e3-91e0-0025906734d9    17084
30a54244-0daf-11e5-a4dd-002590f18851     3555
eacd2ab8-9b11-11e3-91e0-0025906734d9     3445
568129d8-1fd3-11e9-80d3-00155ddeca01     2526
0d5051c5-ad4f-11e4-b40d-002590f18851     1906
e52a6f24-1fd3-11e9-80d3-00155ddeca01     1383
Name: Организация, dtype: int64

Уникальные значения в колонке 'Ответсвенный': (30 всего)
2080c42e-2a85-11e7-80c9-00155ddeca01    5008
c3180c97-fbfe-11e5-b507-002590f18851    4330
88c3b5a9-f283-11e6-80c4-00155ddeca07    2757
c90d27d1-f5aa-11e5-a090-002590f18851    2739
5ca14dec-ee9e-11e6-80c4-00155ddeca07    2642
1173388a-9b50-11e6-80c4-00155ddeca07    2461
f97d1b93-26a2-11e8-80cc-00155ddeca01    2063
64ed62c1-dc0a-11e3-9011-0025906734d9    1527
e406a48a-fd27-11e3-b4a7-002590f18851    1333
2b61375d-e7db-11e3-9011-0025906734d9     989
Name: Ответсвенный, dtype: int64

Уникальные значения в колонке 'РасчетнаяСтоимость': (964 всего)
10020.0    815
25200.0    731
11100.0    640
20040.0    630
0.0        539
16500.0    426
4250.0     419
20800.0    419
12000.0    398
5400.0     370
Name: РасчетнаяСтоимость, dtype: int64

Уникальные значения в колонке 'ФактическаяСтоимость': (2924 всего)
0.0         2735
39600.0      700
131930.0     503
9000.0       395
7500.0       311
8875.0       295
5040.0       288
605930.0     261
654165.0     261
10650.0      244
Name: ФактическаяСтоимость, dtype: int64

Уникальные значения в колонке 'Модель': (19 всего)
00000000-0000-0000-0000-000000000000    28856
a8053fc6-33a0-472b-b633-e894de9b6c43      685
2dfd4658-69d2-11e6-80c4-00155ddeca07      110
41c5c02b-2c44-11e4-b4a7-002590f18851       88
18c5f072-bdcf-11e3-b8a1-0025906734d9       30
739e320d-94bd-11e7-80cb-00155ddeca01       25
5359bece-2e21-11e6-b507-002590f18851       24
69241fd3-314b-41fe-8682-2875ca47771a       23
a880f996-cf76-11e3-98d9-0025906734d9       16
8f0bb900-4574-11e9-80d3-00155ddeca01       11
Name: Модель, dtype: int64

Уникальные значения в колонке 'КоличествоПассажиров': (61 всего)
49    5738
51    5050
50    3018
1     2759
19    2667
59    1875
53    1666
40    1471
45     727
16     567
Name: КоличествоПассажиров, dtype: int64

Уникальные значения в колонке 'ТипТС': (27 всего)
c6a37c1c-0584-11e7-80c4-00155ddeca07    8775
bff551cd-3d8c-11e8-80cd-00155ddeca01    6670
da6fd5de-bc94-11e3-b8a1-0025906734d9    2581
2bcad513-bc95-11e3-b8a1-0025906734d9    2088
899c377b-bc93-11e3-b8a1-0025906734d9    2013
d4ae9ead-0584-11e7-80c4-00155ddeca07    1865
cb9b63d7-bef6-11e3-ae97-0025906734d9    1233
d68b62a7-bef6-11e3-ae97-0025906734d9    1183
c3fdd0cb-bef6-11e3-ae97-0025906734d9    1003
2067a4cd-7dcc-11e8-80cf-00155ddeca01     490
Name: ТипТС, dtype: int64

Уникальные значения в колонке 'Водитель': (699 всего)
00000000-0000-0000-0000-000000000000    7302
11e8a364-51d3-11e8-80cf-00155ddeca01     260
aa29f92a-8b42-11e8-80cf-00155ddeca01     247
867298b8-9c75-11e8-80d0-00155ddeca01     240
f9567458-e965-11e7-80cc-00155ddeca01     187
843fc91f-2960-11e6-b507-002590f18851     173
0a5d097f-8e31-11e7-80cb-00155ddeca01     169
60af5c03-c85a-11e3-98d9-0025906734d9     164
38c4f957-7ece-11e5-a59e-002590f18851     157
7890b038-c85a-11e3-98d9-0025906734d9     152
Name: Водитель, dtype: int64

Уникальные значения в колонке 'Тариф': (2 всего)
9e61f4d3-cd2d-451b-861f-b2bf81b66152    21027
dd1e05a1-0cb5-401a-a9f3-f56f2ebb2d6b     8872
Name: Тариф, dtype: int64

Уникальные значения в колонке 'Перекат': (3715 всего)
-17691935    672
-17677747    610
-17678472    549
-17672651    362
-17674128    298
-17673946    261
-17691191    242
-17673334    241
-17678492    220
-17688135    209
Name: Перекат, dtype: int64

Уникальные значения в колонке 'Табличка': (2 всего)
К                  28933
Not Information      966
Name: Табличка, dtype: int64

Уникальные значения в колонке 'Исполнитель': (45 всего)
00000000-0000-0000-0000-000000000000    29403
5608c33a-7f3c-11e6-80c4-00155ddeca07       55
d40aecbe-2175-11e6-b507-002590f18851       45
b1a21863-bade-11e6-80c4-00155ddeca07       39
002ac572-396f-11e7-80c9-00155ddeca01       38
2160fbe3-0378-11e9-80d2-00155ddeca01       28
5b1a87da-1393-11e6-b507-002590f18851       23
a0271b5f-5cdb-11e8-80cf-00155ddeca01       23
6960546f-c84f-11e3-98d9-0025906734d9       22
1dd9068e-3ee3-11e7-80c9-00155ddeca01       22
Name: Исполнитель, dtype: int64

Уникальные значения в колонке 'СобственноеТС': (2 всего)
True     26103
False     3796
Name: СобственноеТС, dtype: int64

Уникальные значения в колонке 'ВнутреннийНомерУЗаказчика': (1 всего)
[Table]    29899
Name: ВнутреннийНомерУЗаказчика, dtype: int64

Уникальные значения в колонке 'Оплачено': (2 всего)
True     22719
False     7180
Name: Оплачено, dtype: int64

Уникальные значения в колонке 'ДатаОплаты': (271 всего)
Not Information        7180
2019-05-28 00:00:00    1676
2019-07-12 00:00:00     870
2019-07-29 00:00:00     718
2019-05-15 00:00:00     525
2019-06-11 00:00:00     493
2019-08-09 00:00:00     417
2019-09-06 00:00:00     415
2019-06-07 00:00:00     411
2019-09-09 00:00:00     395
Name: ДатаОплаты, dtype: int64

Уникальные значения в колонке 'ЖдемОплатуДо': (86 всего)
Not Information        28853
2017-03-31 00:00:00      176
2019-03-31 00:00:00      148
2019-04-22 00:00:00      111
2019-03-11 00:00:00       80
2019-04-30 00:00:00       51
2019-05-01 00:00:00       42
2019-04-08 00:00:00       41
2019-04-01 00:00:00       39
2019-06-26 00:00:00       30
Name: ЖдемОплатуДо, dtype: int64

Уникальные значения в колонке 'ОтправленоСМСВодителю': (2 всего)
True     20482
False     9417
Name: ОтправленоСМСВодителю, dtype: int64

Уникальные значения в колонке 'ОтправленоСМСЗаказчику': (2 всего)
False    19495
True     10404
Name: ОтправленоСМСЗаказчику, dtype: int64

Уникальные значения в колонке 'ЗагрузкаПункт': (365 всего)
00000000-0000-0000-0000-000000000000    14434
da90546a-1290-11e6-b507-002590f18851     1776
00c4031e-e2a7-11e3-9011-0025906734d9      978
031fdf5d-0330-11e7-80c4-00155ddeca07      702
01a4cce5-df2c-11e3-9011-0025906734d9      659
afc4fe70-bb1f-11e8-80d0-00155ddeca01      472
13c5ed5d-2550-11e9-80d3-00155ddeca01      414
f534ab8a-4fa7-11e8-80cf-00155ddeca01      350
67c89abc-cf7a-11e7-80cb-00155ddeca01      345
ad946f43-fa89-11e7-80cc-00155ddeca01      295
Name: ЗагрузкаПункт, dtype: int64

Уникальные значения в колонке 'ЗагрузкаАдрес': (2475 всего)
Not Information                                                                           4003
Москва г, Ленинградское ш., 57 (въезд с Ленинградского ш., напротив д. 96, корп.1)        1775
Краснопресненская наб. ,12                                                                1012
Москва г, Комсомольская пл-дь, 3                                                           776
в сторону Сретенского бул., напротив д. 8 по Уланскому пер., не доезжая здания Лукойла     702
Ленинградский проспект д. 39 стр. 41 (ЛДС "ЦСКА")                                          610
МО, Егорьевск г., мкрн. 2, д. 15                                                           550
к1, территория Логистический технопарк Софьино, Логистический технопарк Софьино            472
Вознесенский пер.д.7                                                                       469
Измайловское ш., 71 корп. 4                                                                318
Name: ЗагрузкаАдрес, dtype: int64

Уникальные значения в колонке 'РазгрузкаПункт': (418 всего)
00000000-0000-0000-0000-000000000000    14805
da90546a-1290-11e6-b507-002590f18851     1763
00c4031e-e2a7-11e3-9011-0025906734d9      970
ad946f43-fa89-11e7-80cc-00155ddeca01      840
01a4cce5-df2c-11e3-9011-0025906734d9      526
f534ab8a-4fa7-11e8-80cf-00155ddeca01      489
afc4fe70-bb1f-11e8-80d0-00155ddeca01      472
031fdf5d-0330-11e7-80c4-00155ddeca07      462
13c5ed5d-2550-11e9-80d3-00155ddeca01      414
25034653-e288-11e3-9011-0025906734d9      303
Name: РазгрузкаПункт, dtype: int64

Уникальные значения в колонке 'РазгрузкаАдрес': (2307 всего)
Not Information                                                                           4180
Москва г, Ленинградское ш., 57 (въезд с Ленинградского ш., напротив д. 96, корп.1)        1762
Москва г, Комсомольская пл-дь, 3                                                          1022
Краснопресненская наб. ,12                                                                 971
по указанию                                                                                719
Вознесенский пер.д.7                                                                       616
По указанию                                                                                579
МО, Егорьевск г., мкрн. 2, д. 15                                                           550
к1, территория Логистический технопарк Софьино, Логистический технопарк Софьино            472
в сторону Сретенского бул., напротив д. 8 по Уланскому пер., не доезжая здания Лукойла     462
Name: РазгрузкаАдрес, dtype: int64

Уникальные значения в колонке 'НомерПП': (330 всего)
0       2875
999      493
134      493
67       369
124      341
130      337
1000     324
9        279
70       276
58       274
Name: НомерПП, dtype: int64

Уникальные значения в колонке 'Счет': (1025 всего)
00000000-0000-0000-0000-000000000000    8830
947f2517-6a5a-11e9-80d5-00155d6f0a01     480
cdabf5e5-6a5a-11e9-80d5-00155d6f0a01     464
9a4b379d-6728-11e9-80d5-00155d6f0a01     380
82743993-97d9-11e9-80d5-00155d6f0a01     333
9ed75861-8044-11e9-80d5-00155d6f0a01     333
afdb810a-6731-11e9-80d5-00155d6f0a01     325
25242015-67fc-11e9-80d5-00155d6f0a01     295
faa1ca7b-b101-11e9-80d5-00155d6f0a01     280
704c6801-4406-11e9-80d3-00155ddeca01     270
Name: Счет, dtype: int64

Уникальные значения в колонке 'Акт': (722 всего)
00000000-0000-0000-0000-000000000000    8832
35dea2bc-6a5b-11e9-80d5-00155d6f0a01     480
88d2cb65-6a5b-11e9-80d5-00155d6f0a01     464
8c83d64d-6729-11e9-80d5-00155d6f0a01     380
7c9f71a3-b74d-11e9-80d5-00155d6f0a01     333
92816830-9bf8-11e9-80d5-00155d6f0a01     333
f0f37a85-6766-11e9-80d5-00155d6f0a01     325
34778d27-680d-11e9-80d5-00155d6f0a01     295
7bcfb7ff-cef2-11e9-80d5-00155d6f0a01     280
567052cd-8dbf-11e9-80d5-00155d6f0a01     270
Name: Акт, dtype: int64

Уникальные значения в колонке 'Создатель': (33 всего)
2080c42e-2a85-11e7-80c9-00155ddeca01    4610
c3180c97-fbfe-11e5-b507-002590f18851    3597
88c3b5a9-f283-11e6-80c4-00155ddeca07    2882
c90d27d1-f5aa-11e5-a090-002590f18851    2752
64ed62c1-dc0a-11e3-9011-0025906734d9    2654
f97d1b93-26a2-11e8-80cc-00155ddeca01    2052
5ca14dec-ee9e-11e6-80c4-00155ddeca07    1960
2b61375d-e7db-11e3-9011-0025906734d9    1651
e406a48a-fd27-11e3-b4a7-002590f18851    1326
1173388a-9b50-11e6-80c4-00155ddeca07    1269
Name: Создатель, dtype: int64

Уникальные значения в колонке 'Водитель2': (21 всего)
00000000-0000-0000-0000-000000000000    29869
81a11903-55e0-11e9-80d3-00155ddeca01        4
798cbd01-22d5-11e9-80d3-00155ddeca01        3
6bfd4fc8-6036-11e9-80d3-00155ddeca01        2
3f35e814-75f9-11e8-80cf-00155ddeca01        2
81c576b5-203c-11e7-80c9-00155ddeca01        2
5d182d03-973b-11e9-80d5-00155d6f0a01        2
097be2fe-64c8-11e8-80cf-00155ddeca01        2
165e98a2-9c79-11e7-80cb-00155ddeca01        1
5559889f-7852-11e8-80cf-00155ddeca01        1
Name: Водитель2, dtype: int64

Уникальные значения в колонке 'ЧасыВодителю': (58 всего)
1.0     4603
6.0     4359
0.0     2839
14.0    1594
16.0    1539
12.0    1435
7.0     1421
11.0    1138
5.0     1119
8.0     1050
Name: ЧасыВодителю, dtype: int64

Уникальные значения в колонке 'ЧасыВодителю2': (10 всего)
0     29870
12       12
16        9
5         2
10        1
19        1
3         1
6         1
4         1
18        1
Name: ЧасыВодителю2, dtype: int64

Уникальные значения в колонке 'ОтправлятьСМСКонтактномуЛицу': (2 всего)
False    29898
True         1
Name: ОтправлятьСМСКонтактномуЛицу, dtype: int64

Уникальные значения в колонке 'НалПолучено': (334 всего)
0        28322
23200       88
9000        57
8100        57
10800       40
38000       37
7800        37
8700        36
25200       35
9450        34
Name: НалПолучено, dtype: int64

Уникальные значения в колонке 'ТребуетсяВторойВодитель': (2 всего)
False    29858
True        41
Name: ТребуетсяВторойВодитель, dtype: int64

Уникальные значения в колонке 'ЗарубежнаяПоездка': (2 всего)
False    29893
True         6
Name: ЗарубежнаяПоездка, dtype: int64

Уникальные значения в колонке 'НомерРодительскогоЗаказа': (29714 всего)
583623    3
594699    2
580874    2
594696    2
594695    2
594694    2
594693    2
593429    2
587688    2
594644    2
Name: НомерРодительскогоЗаказа, dtype: int64

Уникальные значения в колонке 'ВидПредоплаты2': (4 всего)
Безнал             27495
Not Information     1553
НалВодителю          764
Нал                   87
Name: ВидПредоплаты2, dtype: int64

Уникальные значения в колонке 'НалПолучено2': (1 всего)
0    29899
Name: НалПолучено2, dtype: int64

Уникальные значения в колонке 'ТипЗаказа': (4 всего)
2d260fbe-17b2-4155-8a87-9b8729188030    25536
33cdd2ab-77ea-4b6f-ae40-2e89c532f544     4298
00000000-0000-0000-0000-000000000000       56
72fa4d0b-1be7-11e6-b507-002590f18851        9
Name: ТипЗаказа, dtype: int64

Уникальные значения в колонке 'СтатусЗаказа': (4 всего)
12329fb4-5879-11e6-80c5-00155ddeca01    27046
12329fb6-5879-11e6-80c5-00155ddeca01     2777
00000000-0000-0000-0000-000000000000       69
2211ee5e-5879-11e6-80c5-00155ddeca01        7
Name: СтатусЗаказа, dtype: int64

Уникальные значения в колонке 'ЦенаЗаЧасИсполнителя': (20 всего)
0       29422
1500       95
1200       85
1400       84
1300       51
1100       44
900        29
1650       20
800        17
1475       17
Name: ЦенаЗаЧасИсполнителя, dtype: int64

Уникальные значения в колонке 'КомментарийКМаршруту': (1 всего)
[Table]    29899
Name: КомментарийКМаршруту, dtype: int64

Уникальные значения в колонке 'ТребуетсяТуалет': (2 всего)
False    29747
True       152
Name: ТребуетсяТуалет, dtype: int64

Уникальные значения в колонке 'Многодневный': (2 всего)
False    28993
True       906
Name: Многодневный, dtype: int64

Уникальные значения в колонке 'Аннулирован': (2 всего)
False    24978
True      4921
Name: Аннулирован, dtype: int64

Уникальные значения в колонке 'ДатаАннуляции': (4916 всего)
Not Information        24977
2019-06-10 15:37:22        2
2019-05-07 18:44:34        2
2019-05-07 18:42:32        2
2019-07-03 11:34:33        2
2019-05-16 09:37:53        2
2019-06-06 11:05:07        2
2019-06-06 11:05:10        2
2020-03-05 17:11:49        1
2020-03-05 17:12:04        1
Name: ДатаАннуляции, dtype: int64

Уникальные значения в колонке 'ПричинаАннуляции': (591 всего)
Not Information         24977
Группа не прилетит        444
Отказ клиента             249
Аннуляция по письму       176
группа не набролась       143
аннуляция по письму       134
не набр группа            129
задвоил                   120
аннуляция на ноябрь       116
Аннулирован Контракт      108
Name: ПричинаАннуляции, dtype: int64

Уникальные значения в колонке 'УтвержденДиспетчером': (2 всего)
True     21181
False     8718
Name: УтвержденДиспетчером, dtype: int64

Уникальные значения в колонке 'КомментарииДляВодителя': (1 всего)
[Table]    29899
Name: КомментарииДляВодителя, dtype: int64

Уникальные значения в колонке 'ДанныеОтданы': (2 всего)
False    26870
True      3029
Name: ДанныеОтданы, dtype: int64

Уникальные значения в колонке 'Акция': (2 всего)
False    29402
True       497
Name: Акция, dtype: int64

Уникальные значения в колонке 'НомерППКопия': (116 всего)
Not Information    19355
41.0                1169
38.0                 972
4.0                  608
117.0                528
66.0                 488
30.0                 402
132.0                396
139.0                384
133.0                382
Name: НомерППКопия, dtype: int64

Уникальные значения в колонке 'КомментарииПоЗавершению': (3407 всего)
Not Information                   12967
без переката и парковок            4446
без переката и парковок            3744
без доп ожидания и парковок         997
без доп ожид и парковок             349
без ожидания и парковок             303
перекат 30 мин без парковок         135
перекат 1 час без парковок          107
без ожидания и парковок              93
600 руб парковка без доп ожид        92
Name: КомментарииПоЗавершению, dtype: int64

Уникальные значения в колонке 'Багаж': (2 всего)
False    29274
True       625
Name: Багаж, dtype: int64

Уникальные значения в колонке 'Уведомление': (3 всего)
Not Information    29697
На базе              131
У клиента             71
Name: Уведомление, dtype: int64

Уникальные значения в колонке 'Задачи': (1 всего)
[Table]    29899
Name: Задачи, dtype: int64

Уникальные значения в колонке 'ДопУслуги': (1 всего)
[Table]    29899
Name: ДопУслуги, dtype: int64

Уникальные значения в колонке 'ПромежуточныеТочки': (1 всего)
[Table]    29899
Name: ПромежуточныеТочки, dtype: int64

In [40]:
#Исходя из того, что в таблице присутствует достаточное количество значений "00000000-0000-0000-0000-000000000000", заменим это значение на Not information
bbOrders_filtered = bbOrders_filtered.replace('00000000-0000-0000-0000-000000000000', 'Not Information')
bbOrders_filtered.head()

,Ref,Date,Number,Заказчик,ВремяНачала,ПланируемоеВремяОкончания,Загрузка,Разгрузка,ТС,Комментарии,...,КомментарииДляВодителя,ДанныеОтданы,Акция,НомерППКопия,КомментарииПоЗавершению,Багаж,Уведомление,Задачи,ДопУслуги,ПромежуточныеТочки
0,378d00c4-9591-11e8-80cf-00155ddeca01,2018-08-01 16:45:57,466870,ccf89ee4-5d1c-11e5-b334-002590f18851,2019-08-18 09:30:00,2019-08-18 13:30:00,[Table],[Table],abf811b6-5b5c-11e8-80cf-00155ddeca01,[Table],...,[Table],False,False,Not Information,Not Information,False,Not Information,[Table],[Table],[Table]
1,db03f900-964e-11e8-80d0-00155ddeca01,2018-08-02 15:23:27,467524,faa79476-0fd5-11e8-80cc-00155ddeca01,2019-09-02 08:55:00,2019-09-02 10:55:00,[Table],[Table],Not Information,[Table],...,[Table],False,False,Not Information,Not Information,False,Not Information,[Table],[Table],[Table]
2,2a810e11-a6cd-11e8-80d0-00155ddeca01,2018-08-23 15:07:55,477312,07e2c106-04c9-11e8-80cc-00155ddeca01,2019-09-24 09:30:00,2019-09-24 09:30:00,[Table],[Table],c54eec64-d338-11e7-80cb-00155ddeca01,[Table],...,[Table],False,False,Not Information,Not Information,False,Not Information,[Table],[Table],[Table]
3,b750f631-b993-11e8-80d0-00155ddeca01,2018-09-16 12:34:33,487534,a5194a0a-240a-11e6-b507-002590f18851,2019-08-05 13:40:00,2019-08-05 13:40:00,[Table],[Table],Not Information,[Table],...,[Table],False,False,Not Information,Not Information,False,Not Information,[Table],[Table],[Table]
4,c55d8ce8-ba7f-11e8-80d0-00155ddeca01,2018-09-17 16:44:27,488469,bebe7ce9-947c-11e7-80cb-00155ddeca01,2019-05-25 09:00:00,2019-05-25 15:00:00,[Table],[Table],Not Information,[Table],...,[Table],False,True,37.0,Not Information,False,Not Information,[Table],[Table],[Table]

In [41]:
numeric_cols = ['ЦенаЗаЧас', 'ФактическаяСтоимость', 'РасчетнаяСтоимость']
for col in numeric_cols:
    try:
        bbOrders_filtered[col] = pd.to_numeric(bbOrders_filtered[col], errors='coerce')
        print(f"\nКолонка: {col}")
        print(bbOrders_filtered[col].describe())
    except Exception as e:
        print(f"Ошибка при обработке {col}: {e}")

Колонка: ЦенаЗаЧас
count    29899.000000
mean      1486.293980
std        648.933136
min          0.000000
25%       1121.000000
50%       1630.000000
75%       1775.000000
max      25758.590000
Name: ЦенаЗаЧас, dtype: float64

Колонка: ФактическаяСтоимость
count    2.570200e+04
mean     1.135325e+05
std      3.934095e+05
min      0.000000e+00
25%      1.065000e+04
50%      2.960000e+04
75%      9.135000e+04
max      9.800700e+06
Name: ФактическаяСтоимость, dtype: float64

Колонка: РасчетнаяСтоимость
count     25631.000000
mean      14352.760212
std        8791.203881
min           0.000000
25%        9063.000000
50%       12425.000000
75%       19800.000000
max      380000.000000
Name: РасчетнаяСтоимость, dtype: float64

In [42]:
#Сохраним отфильтрованный датафрейм и поместим в папку
import os

# Убедимся, что папка существует
output_dir = '../filtered_datasets'
os.makedirs(output_dir, exist_ok=True)

# Путь к файлу
output_path = os.path.join(output_dir, 'bbOrders_filtered.xlsx')

bbOrders_filtered.to_excel(output_path, index=False)
print(f"Файл успешно сохранен: {output_path}")

Файл успешно сохранен: ../filtered_datasets\bbOrders_filtered.xlsx