In [1]:
import pandas as pd

In [3]:
file_path = '../datasets/bbStatus.xlsx' 
bbStatus = pd.read_excel(file_path)

In [4]:
#Посмотрим на количество данных в Excel файле
print("Размер таблицы (строки, столбцы):", bbStatus.shape)

Размер таблицы (строки, столбцы): (3, 4)

In [5]:
print("Названия колонок:", bbStatus.columns.tolist())

Названия колонок: ['Ref', 'DeletionMark', 'Code', 'Description']

In [6]:
#Посмотрим на значения данных в bbStatus
bbStatus.head()

                                    Ref  DeletionMark  Code Description
0  12329fb4-5879-11e6-80c5-00155ddeca01         False     1    Стандарт
1  12329fb6-5879-11e6-80c5-00155ddeca01         False     2        Дети
2  2211ee5e-5879-11e6-80c5-00155ddeca01         False     3     Свадьба

In [ ]:
#В данном датасете нет данных для фильтрации