In [80]:
import pandas as pd
import os
from openpyxl import load_workbook
from openpyxl.utils import get_column_letter

In [81]:
file_path = '../datasets/uatModelsTS.xlsx' 
uatModelsTS = pd.read_excel(file_path)

In [82]:
#Посмотрим на количество данных в Excel файле
print("Размер таблицы (строки, столбцы):", uatModelsTS.shape)

Размер таблицы (строки, столбцы): (74, 42)

In [83]:
print("Названия колонок:", uatModelsTS.columns.tolist())

Названия колонок: ['Ref', 'IsFolder', 'DeletionMark', 'Parent', 'Code', 'Description', 'Автотранспорт', 'ГабаритныйРазмерДлина', 'ГабаритныйРазмерВысота', 'ГабаритныйРазмерШирина', 'ПолезныйРазмерДлина', 'ПолезныйРазмерВысота', 'ПолезныйРазмерШирина', 'Клиренс', 'ТипДвигателя', 'МодельДвигателя', 'МощностьДвигателяКВТ', 'МощностьДвигателяЛС', 'РабочийОбъемДвигателя', 'КоличествоОсей', 'КоличествоКолес', 'МаксимальнаяСкорость', 'СобственныйВес', 'Грузоподъемность', 'ОбъемКузова', 'КатегорияАТСЕЭК', 'ТипТС', 'ОсновноеТопливо', 'ДополнительноеТопливо', 'НаличиеТопливногоБака', 'НаличиеСпидометра', 'ОбъемБака', 'НормируемаяЗагрузкаСамосвала', 'МакетТС', 'ВсегоМест', 'СидячихМест', 'СпособПогрузки', 'ШиринаДвери', 'ВысотаДвери', 'Описание', 'ВидМоделиТС', 'НормативыОбслуживания']

In [84]:
#Посмотрим на значения данных в bbOrders
uatModelsTS.head(20)

,Ref,IsFolder,DeletionMark,Parent,Code,Description,Автотранспорт,ГабаритныйРазмерДлина,ГабаритныйРазмерВысота,ГабаритныйРазмерШирина,...,НормируемаяЗагрузкаСамосвала,МакетТС,ВсегоМест,СидячихМест,СпособПогрузки,ШиринаДвери,ВысотаДвери,Описание,ВидМоделиТС,НормативыОбслуживания
0,bd0cb764-445a-11e7-80c9-00155ddeca01,False,False,00000000-0000-0000-0000-000000000000,114,Yutong (51+1),False,0,0,0,...,0,00000000-0000-0000-0000-000000000000,51,51,00000000-0000-0000-0000-000000000000,0,0,NaN,Автотранспорт,NaN
1,cb987ef5-6831-4243-927f-2eea92204cd2,False,False,00000000-0000-0000-0000-000000000000,20,MB S350,False,0,0,0,...,0,00000000-0000-0000-0000-000000000000,4,4,00000000-0000-0000-0000-000000000000,0,0,NaN,Автотранспорт,NaN
2,76993427-2f05-11e7-80c9-00155ddeca01,False,False,00000000-0000-0000-0000-000000000000,113,Yutong (53+1),False,0,0,0,...,0,00000000-0000-0000-0000-000000000000,53,53,00000000-0000-0000-0000-000000000000,0,0,NaN,Автотранспорт,NaN
3,a880f996-cf76-11e3-98d9-0025906734d9,False,False,00000000-0000-0000-0000-000000000000,27,Scania (59+1),False,0,0,0,...,0,00000000-0000-0000-0000-000000000000,59,59,00000000-0000-0000-0000-000000000000,0,0,NaN,Автотранспорт,NaN
4,5359bece-2e21-11e6-b507-002590f18851,False,False,00000000-0000-0000-0000-000000000000,78,MAN LION'S COACH,False,0,0,0,...,0,00000000-0000-0000-0000-000000000000,0,0,00000000-0000-0000-0000-000000000000,0,0,NaN,Автотранспорт,NaN
5,18744890-7df1-11e5-a59e-002590f18851,False,False,00000000-0000-0000-0000-000000000000,55,Mercedes Vito,False,0,0,0,...,0,00000000-0000-0000-0000-000000000000,0,0,00000000-0000-0000-0000-000000000000,0,0,NaN,Автотранспорт,NaN
6,4814806a-9696-4775-b4c6-0824ad831c18,False,False,00000000-0000-0000-0000-000000000000,7,MB Sprinter (18+2),False,0,0,0,...,0,00000000-0000-0000-0000-000000000000,20,20,00000000-0000-0000-0000-000000000000,0,0,NaN,Автотранспорт,NaN
7,a3f4a6b8-3d8d-11e8-80cd-00155ddeca01,False,False,00000000-0000-0000-0000-000000000000,129,Yutong (49+1),False,0,0,0,...,0,00000000-0000-0000-0000-000000000000,0,0,00000000-0000-0000-0000-000000000000,0,0,NaN,Автотранспорт,NaN
8,460d9b05-cbde-11e5-84ea-002590f18851,False,False,00000000-0000-0000-0000-000000000000,63,MB Sprinter (15+1),False,0,0,0,...,0,00000000-0000-0000-0000-000000000000,16,16,00000000-0000-0000-0000-000000000000,0,0,NaN,Автотранспорт,NaN
9,8756520f-1b39-11e5-a4dd-002590f18851,False,False,00000000-0000-0000-0000-000000000000,49,Scania(49+1),False,0,0,0,...,0,00000000-0000-0000-0000-000000000000,51,51,00000000-0000-0000-0000-000000000000,0,0,NaN,Автотранспорт,NaN
10,dc1df173-e674-11e3-9011-0025906734d9,False,False,00000000-0000-0000-0000-000000000000,28,MAN (49+1),False,0,0,0,...,0,00000000-0000-0000-0000-000000000000,0,0,00000000-0000-0000-0000-000000000000,0,0,NaN,Автотранспорт,NaN
11,18c5f072-bdcf-11e3-b8a1-0025906734d9,False,False,00000000-0000-0000-0000-000000000000,25,Scania (51+1),False,0,0,0,...,0,00000000-0000-0000-0000-000000000000,51,51,00000000-0000-0000-0000-000000000000,0,0,NaN,Автотранспорт,NaN
12,633d201b-68d7-11e9-80d5-00155d6f0a01,False,False,00000000-0000-0000-0000-000000000000,150,MB Sprinter 19,False,0,0,0,...,0,00000000-0000-0000-0000-000000000000,0,0,00000000-0000-0000-0000-000000000000,0,0,NaN,Автотранспорт,NaN
13,a5d2b0b7-0b67-11e9-80d3-00155ddeca01,False,False,00000000-0000-0000-0000-000000000000,142,Yutong (57+1),False,0,0,0,...,0,00000000-0000-0000-0000-000000000000,65,58,00000000-0000-0000-0000-000000000000,0,0,NaN,Автотранспорт,NaN
14,d30bc23d-0e55-11e4-b4a7-002590f18851,False,False,00000000-0000-0000-0000-000000000000,34,Mersedes Sprinter(19),False,0,0,0,...,0,00000000-0000-0000-0000-000000000000,0,0,00000000-0000-0000-0000-000000000000,0,0,NaN,Автотранспорт,NaN
15,8fbc8df8-9422-11e9-80d5-00155d6f0a01,False,False,00000000-0000-0000-0000-000000000000,164,Yutong (52+1),False,0,0,0,...,0,00000000-0000-0000-0000-000000000000,0,0,00000000-0000-0000-0000-000000000000,0,0,NaN,Автотранспорт,NaN
16,ec345ba2-52dd-11e5-b334-002590f18851,False,False,00000000-0000-0000-0000-000000000000,52,Хайгер (51+1),False,0,0,0,...,0,00000000-0000-0000-0000-000000000000,0,0,00000000-0000-0000-0000-000000000000,0,0,NaN,Автотранспорт,NaN
17,186ed6d6-3377-4da6-9ff9-973641b34614,False,False,00000000-0000-0000-0000-000000000000,14,MAN (59+0),False,0,0,0,...,0,00000000-0000-0000-0000-000000000000,59,59,00000000-0000-0000-0000-000000000000,0,0,NaN,Автотранспорт,NaN
18,6181d2b2-18c5-11e4-b4a7-002590f18851,False,False,00000000-0000-0000-0000-000000000000,36,Neoplan,False,0,0,0,...,0,00000000-0000-0000-0000-000000000000,0,0,00000000-0000-0000-0000-000000000000,0,0,NaN,Автотранспорт,NaN
19,16b0358a-9b10-11e8-80d0-00155ddeca01,False,False,00000000-0000-0000-0000-000000000000,134,King Long (50+1),False,0,0,0,...,0,00000000-0000-0000-0000-000000000000,0,0,00000000-0000-0000-0000-000000000000,0,0,NaN,Автотранспорт,NaN

In [85]:
#Оставим в uatModelsTS нужные колонки для работы
columns_to_keep = [
    'Ref', 'IsFolder', 'DeletionMark', 'Code', 'Description', 
    'ТипДвигателя', 'МодельДвигателя', 'МощностьДвигателяКВТ', 'МощностьДвигателяЛС',
    'РабочийОбъемДвигателя', 'КоличествоОсей', 'КоличествоКолес', 'МаксимальнаяСкорость', 
    'СобственныйВес', 'Грузоподъемность', 'ТипТС', 'ОсновноеТопливо', 'ДополнительноеТопливо', 
    'ВсегоМест', 'ВидМоделиТС'
]

In [86]:
# Проверка наличия колонок
missing_columns = [col for col in columns_to_keep if col not in uatModelsTS.columns]

if missing_columns:
    print("В датафрейме отсутствуют следующие колонки:")
    for col in missing_columns:
        print(" -", col)

# Фильтрация по доступным колонкам
available_columns = [col for col in columns_to_keep if col in uatModelsTS.columns]
uatModelsTS_filtered = uatModelsTS[available_columns]

# Проверка, что в bbOrders_filtered остались только нужные колонки
if set(uatModelsTS_filtered.columns) == set(columns_to_keep):
    print("В датафрейме остались только нужные колонки.")
else:
    extra_columns = set(uatModelsTS_filtered.columns) - set(columns_to_keep)
    if extra_columns:
        print("Остались лишние колонки в отфильтрованном датафрейме:")
        for col in extra_columns:
            print(" -", col)

# Вывод результата
print("\nРазмер отфильтрованного датафрейма:", uatModelsTS_filtered.shape)
uatModelsTS_filtered.head()

В датафрейме остались только нужные колонки.

Размер отфильтрованного датафрейма: (74, 20)

,Ref,IsFolder,DeletionMark,Code,Description,ТипДвигателя,МодельДвигателя,МощностьДвигателяКВТ,МощностьДвигателяЛС,РабочийОбъемДвигателя,КоличествоОсей,КоличествоКолес,МаксимальнаяСкорость,СобственныйВес,Грузоподъемность,ТипТС,ОсновноеТопливо,ДополнительноеТопливо,ВсегоМест,ВидМоделиТС
0,bd0cb764-445a-11e7-80c9-00155ddeca01,False,False,114,Yutong (51+1),Дизельный,ZK6122H9,265.0,360.0,8880,2,6,0,14400,18800,d4ae9ead-0584-11e7-80c4-00155ddeca07,5defc774-0c39-11e4-b4a7-002590f18851,00000000-0000-0000-0000-000000000000,51,Автотранспорт
1,cb987ef5-6831-4243-927f-2eea92204cd2,False,False,20,MB S350,Бензиновый,NaN,0.0,0.0,0,0,0,0,0,0,3692b1dc-bc95-11e3-b8a1-0025906734d9,00000000-0000-0000-0000-000000000000,00000000-0000-0000-0000-000000000000,4,Автотранспорт
2,76993427-2f05-11e7-80c9-00155ddeca01,False,False,113,Yutong (53+1),Дизельный,ZK6122H9,265.0,360.0,8880,2,6,0,14400,18800,d4ae9ead-0584-11e7-80c4-00155ddeca07,5defc774-0c39-11e4-b4a7-002590f18851,00000000-0000-0000-0000-000000000000,53,Автотранспорт
3,a880f996-cf76-11e3-98d9-0025906734d9,False,False,27,Scania (59+1),Дизельный,NaN,0.0,0.0,0,0,0,0,0,0,899c377b-bc93-11e3-b8a1-0025906734d9,00000000-0000-0000-0000-000000000000,00000000-0000-0000-0000-000000000000,59,Автотранспорт
4,5359bece-2e21-11e6-b507-002590f18851,False,False,78,MAN LION'S COACH,NaN,NaN,0.0,0.0,0,0,0,0,0,0,00000000-0000-0000-0000-000000000000,00000000-0000-0000-0000-000000000000,00000000-0000-0000-0000-000000000000,0,Автотранспорт

In [87]:
# Замена всех NaN
uatModelsTS_filtered = uatModelsTS_filtered.fillna("Not Information")
uatModelsTS_filtered.head()

,Ref,IsFolder,DeletionMark,Code,Description,ТипДвигателя,МодельДвигателя,МощностьДвигателяКВТ,МощностьДвигателяЛС,РабочийОбъемДвигателя,КоличествоОсей,КоличествоКолес,МаксимальнаяСкорость,СобственныйВес,Грузоподъемность,ТипТС,ОсновноеТопливо,ДополнительноеТопливо,ВсегоМест,ВидМоделиТС
0,bd0cb764-445a-11e7-80c9-00155ddeca01,False,False,114,Yutong (51+1),Дизельный,ZK6122H9,265.0,360.0,8880,2,6,0,14400,18800,d4ae9ead-0584-11e7-80c4-00155ddeca07,5defc774-0c39-11e4-b4a7-002590f18851,00000000-0000-0000-0000-000000000000,51,Автотранспорт
1,cb987ef5-6831-4243-927f-2eea92204cd2,False,False,20,MB S350,Бензиновый,Not Information,0.0,0.0,0,0,0,0,0,0,3692b1dc-bc95-11e3-b8a1-0025906734d9,00000000-0000-0000-0000-000000000000,00000000-0000-0000-0000-000000000000,4,Автотранспорт
2,76993427-2f05-11e7-80c9-00155ddeca01,False,False,113,Yutong (53+1),Дизельный,ZK6122H9,265.0,360.0,8880,2,6,0,14400,18800,d4ae9ead-0584-11e7-80c4-00155ddeca07,5defc774-0c39-11e4-b4a7-002590f18851,00000000-0000-0000-0000-000000000000,53,Автотранспорт
3,a880f996-cf76-11e3-98d9-0025906734d9,False,False,27,Scania (59+1),Дизельный,Not Information,0.0,0.0,0,0,0,0,0,0,899c377b-bc93-11e3-b8a1-0025906734d9,00000000-0000-0000-0000-000000000000,00000000-0000-0000-0000-000000000000,59,Автотранспорт
4,5359bece-2e21-11e6-b507-002590f18851,False,False,78,MAN LION'S COACH,Not Information,Not Information,0.0,0.0,0,0,0,0,0,0,00000000-0000-0000-0000-000000000000,00000000-0000-0000-0000-000000000000,00000000-0000-0000-0000-000000000000,0,Автотранспорт

In [88]:
#Исходя из того, что в таблице присутствует достаточное количество значений "00000000-0000-0000-0000-000000000000" и 0.0, заменим это значение на Not information
uatModelsTS_filtered = uatModelsTS_filtered.replace('00000000-0000-0000-0000-000000000000', 'Not Information')
uatModelsTS_filtered = uatModelsTS_filtered.replace(0.0, 'Not Information')
uatModelsTS_filtered.head()

,Ref,IsFolder,DeletionMark,Code,Description,ТипДвигателя,МодельДвигателя,МощностьДвигателяКВТ,МощностьДвигателяЛС,РабочийОбъемДвигателя,КоличествоОсей,КоличествоКолес,МаксимальнаяСкорость,СобственныйВес,Грузоподъемность,ТипТС,ОсновноеТопливо,ДополнительноеТопливо,ВсегоМест,ВидМоделиТС
0,bd0cb764-445a-11e7-80c9-00155ddeca01,False,False,114,Yutong (51+1),Дизельный,ZK6122H9,265.0,360.0,8880,2,6,Not Information,14400,18800,d4ae9ead-0584-11e7-80c4-00155ddeca07,5defc774-0c39-11e4-b4a7-002590f18851,Not Information,51,Автотранспорт
1,cb987ef5-6831-4243-927f-2eea92204cd2,False,False,20,MB S350,Бензиновый,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,3692b1dc-bc95-11e3-b8a1-0025906734d9,Not Information,Not Information,4,Автотранспорт
2,76993427-2f05-11e7-80c9-00155ddeca01,False,False,113,Yutong (53+1),Дизельный,ZK6122H9,265.0,360.0,8880,2,6,Not Information,14400,18800,d4ae9ead-0584-11e7-80c4-00155ddeca07,5defc774-0c39-11e4-b4a7-002590f18851,Not Information,53,Автотранспорт
3,a880f996-cf76-11e3-98d9-0025906734d9,False,False,27,Scania (59+1),Дизельный,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,899c377b-bc93-11e3-b8a1-0025906734d9,Not Information,Not Information,59,Автотранспорт
4,5359bece-2e21-11e6-b507-002590f18851,False,False,78,MAN LION'S COACH,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Автотранспорт

In [89]:
#Посмотрим на уникальные значения каждой колонки
for col in uatModelsTS_filtered.columns:
    print(f"\nУникальные значения в колонке '{col}': ({uatModelsTS_filtered[col].nunique()} всего)")
    print(uatModelsTS_filtered[col].value_counts().head(10))

Уникальные значения в колонке 'Ref': (74 всего)
bd0cb764-445a-11e7-80c9-00155ddeca01    1
fe40eb22-191c-11e6-b507-002590f18851    1
282e0a48-bd5b-11e6-80c4-00155ddeca07    1
2b7645c9-7925-11e9-80d5-00155d6f0a01    1
439ed8e0-23ad-4399-850c-5474d5e2e32d    1
4dd1b30e-33ca-11e6-b507-002590f18851    1
f9145bd5-5dd4-11e5-9dfc-002590f18851    1
02719d2d-3491-11e6-b507-002590f18851    1
d0e62778-a2db-11e3-a346-0025906734d9    1
61b8863b-1170-11e7-80c4-00155ddeca07    1
Name: Ref, dtype: int64

Уникальные значения в колонке 'IsFolder': (1 всего)
False    74
Name: IsFolder, dtype: int64

Уникальные значения в колонке 'DeletionMark': (2 всего)
False    71
True      3
Name: DeletionMark, dtype: int64

Уникальные значения в колонке 'Code': (74 всего)
114    1
68     1
102    1
159    1
11     1
81     1
54     1
84     1
22     1
111    1
Name: Code, dtype: int64

Уникальные значения в колонке 'Description': (71 всего)
Yutong (57+1)        2
MB Sprinter 19       2
Scania (51+1)        2
Yutong (51+1)        1
Мерседес             1
CITROEN              1
Mercedes-Benz        1
неоплан              1
King Long (53+1)     1
Higer 6129 (49+1)    1
Name: Description, dtype: int64

Уникальные значения в колонке 'ТипДвигателя': (3 всего)
Not Information    46
Дизельный          20
Бензиновый          8
Name: ТипДвигателя, dtype: int64

Уникальные значения в колонке 'МодельДвигателя': (3 всего)
Not Information    71
ZK6122H9            2
ZK6121HQ            1
Name: МодельДвигателя, dtype: int64

Уникальные значения в колонке 'МощностьДвигателяКВТ': (9 всего)
Not Information    65
265.0               2
247.0               1
135.0               1
183.1               1
220.6               1
124.2               1
122.0               1
154.0               1
Name: МощностьДвигателяКВТ, dtype: int64

Уникальные значения в колонке 'МощностьДвигателяЛС': (9 всего)
Not Information    65
360.0               2
335.0               1
184.0               1
249.0               1
300.0               1
168.9               1
165.9               1
209.4               1
Name: МощностьДвигателяЛС, dtype: int64

Уникальные значения в колонке 'РабочийОбъемДвигателя': (5 всего)
Not Information    68
8880                3
1991                1
4                   1
3                   1
Name: РабочийОбъемДвигателя, dtype: int64

Уникальные значения в колонке 'КоличествоОсей': (2 всего)
Not Information    71
2                   3
Name: КоличествоОсей, dtype: int64

Уникальные значения в колонке 'КоличествоКолес': (2 всего)
Not Information    71
6                   3
Name: КоличествоКолес, dtype: int64

Уникальные значения в колонке 'МаксимальнаяСкорость': (1 всего)
Not Information    74
Name: МаксимальнаяСкорость, dtype: int64

Уникальные значения в колонке 'СобственныйВес': (9 всего)
Not Information    64
14400               2
6280                2
14000               1
1530                1
1665                1
2340                1
2185                1
9020                1
Name: СобственныйВес, dtype: int64

Уникальные значения в колонке 'Грузоподъемность': (8 всего)
Not Information    65
18800               2
11500               2
19000               1
2305                1
560                 1
525                 1
14400               1
Name: Грузоподъемность, dtype: int64

Уникальные значения в колонке 'ТипТС': (17 всего)
Not Information                         44
d4ae9ead-0584-11e7-80c4-00155ddeca07     3
cb9b63d7-bef6-11e3-ae97-0025906734d9     3
2bcad513-bc95-11e3-b8a1-0025906734d9     3
d68b62a9-bef6-11e3-ae97-0025906734d9     3
da6fd5de-bc94-11e3-b8a1-0025906734d9     3
899c377b-bc93-11e3-b8a1-0025906734d9     3
3692b1dc-bc95-11e3-b8a1-0025906734d9     2
71e730e3-bcd4-11e3-b8a1-0025906734d9     2
e709f90b-c584-11e5-84ea-002590f18851     1
Name: ТипТС, dtype: int64

Уникальные значения в колонке 'ОсновноеТопливо': (3 всего)
Not Information                         63
5defc774-0c39-11e4-b4a7-002590f18851     6
0db55df1-a20c-11e3-a346-0025906734d9     5
Name: ОсновноеТопливо, dtype: int64

Уникальные значения в колонке 'ДополнительноеТопливо': (2 всего)
Not Information                         72
5defc774-0c39-11e4-b4a7-002590f18851     2
Name: ДополнительноеТопливо, dtype: int64

Уникальные значения в колонке 'ВсегоМест': (18 всего)
Not Information    45
51                  5
4                   4
59                  3
19                  3
8                   2
6                   1
7                   1
5                   1
49                  1
Name: ВсегоМест, dtype: int64

Уникальные значения в колонке 'ВидМоделиТС': (1 всего)
Автотранспорт    74
Name: ВидМоделиТС, dtype: int64

In [90]:
# Фильтрация по условию
mask = uatModelsTS_filtered['ВсегоМест'] == 'Not Information'

# Получение списка значений Description, соответствующих условию
descriptions_with_missing_seats = uatModelsTS_filtered.loc[mask, 'Description'].unique().tolist()

# Вывод
print("Модели с отсутствующим количеством мест:")
for desc in descriptions_with_missing_seats:
    print(f" - {desc}")

Модели с отсутствующим количеством мест:
 - MAN LION'S COACH
 - Mercedes Vito
 - Yutong (49+1)
 - MAN (49+1)
 - MB Sprinter 19
 - Mersedes Sprinter(19)
 - Yutong (52+1)
 - Хайгер (51+1)
 - Neoplan
 - King Long (50+1)
 - Skoda Octavia
 - Ютонг (51+1)
 - Higer (49+1)
 - King Long
 - Toyota Camry
 - Тойота Камри
 - Тойота Ленд Крузер 200
 - King Long (51+1)
 - Ютонг 51
 - Скания
 - Neoplan 49+1
 - Пежо Боксер
 - Higer (51)
 - Scania A80
 - Mercedes (51+1)
 - Автобус грузовой
 - Мерседес Спринтер (19+1)
 - MB Sprinter 20
 - Голден Драгон
 - King Long (53+1)
 - неоплан
 - CITROEN
 - ЛиАЗ 529115
 - Mercedes V class
 - 6122
 - ПАЗ 320405-04
 - ПАЗ 320412-04
 - ПАЗ 320412-05
 - MB Sprinter16
 - MAN
 - ЛиАЗ 429260
 - Тойота RAV4
 - Шкода Октавия
 - MB Vito

In [96]:
#Создадим словарь с транспортом и количеством мест
seat_mapping = {
    "MAN LION'S COACH": 55,
    "Yutong (49+1)": 49,
    "MAN (49+1)": 49,
    "Yutong (52+1)": 52,
    "Хайгер (51+1)": 52,
    "Neoplan": 55,
    "King Long (50+1)": 50,
    "Ютонг (51+1)": 51,
    "Higer (49+1)": 49,
    "King Long": 53,
    "King Long (51+1)": 51,
    "Ютонг 51": 51,
    "Scania A80": 55,
    "Mercedes (51+1)": 51,
    "Автобус грузовой": 20, 
    "Голден Драгон": 53,
    "King Long (53+1)": 53,
    "неоплан": 55,
    "ЛиАЗ 529115": 29,
    "ПАЗ 320405-04": 22,
    "ПАЗ 320412-04": 22,
    "ПАЗ 320412-05": 22,
    "MAN": 55,
    "ЛиАЗ 429260": 23,
    "Mercedes Vito": 8,
    "MB Sprinter 19": 19,
    "Mersedes Sprinter(19)": 19,
    "В Mercedes-Benz Sprinter (19+1)": 19,
    "MB Sprinter 20": 20,
    "MB Sprinter16": 16,
    "MB Vito": 8,
    "Пежо Боксер": 8,
    "CITROEN": 18,
    "Skoda Octavia": 4,
    "Toyota Camry": 4,
    "Тойота Камри": 4,
    "Тойота Ленд Крузер 200": 4,
    "Шкода Октавия": 4,
    "Скания": 55,
    "Neoplan 49+1": 49,
    "Higer (51)": 51,
    "Мерседес Спринтер (19+1)": 19,
    "Mercedes V class": 8,
    "6122": 53,
    "Тойота RAV4": 4
}

In [97]:
#Заменим количество мест в ВсегоМест подходящие под каждый транспорт
def fill_seats_from_mapping(row):
    if row['ВсегоМест'] == "Not Information":
        return seat_mapping.get(row['Description'], row['ВсегоМест'])
    return row['ВсегоМест']

# Применение к датафрейму
uatModelsTS_filtered['ВсегоМест'] = uatModelsTS_filtered.apply(fill_seats_from_mapping, axis=1)

In [98]:
# Убедимся, что папка существует
output_dir = '../filtered_datasets'
os.makedirs(output_dir, exist_ok=True)

# Путь к файлу
output_path = os.path.join(output_dir, 'uatModelsTS_filtered.xlsx')

# Сохраняем в Excel
uatModelsTS_filtered.to_excel(output_path, index=False)

# Открываем файл и настраиваем ширину колонок, из-за влияния на отображение данных
wb = load_workbook(output_path)
ws = wb.active

for i, column_cells in enumerate(ws.columns, 1):
    max_length = max(len(str(cell.value)) if cell.value is not None else 0 for cell in column_cells)
    adjusted_width = max_length + 2
    ws.column_dimensions[get_column_letter(i)].width = adjusted_width

# Сохраняем изменения
wb.save(output_path)
print(f"Файл сохранен: {output_path}")

Файл сохранен: ../filtered_datasets\uatModelsTS_filtered.xlsx