In [1]:
import pandas as pd
import os
from openpyxl import load_workbook
from openpyxl.utils import get_column_letter

In [2]:
file_path = '../datasets/uatTS.xlsx' 
uatTS = pd.read_excel(file_path)

In [3]:
#Посмотрим на количество данных в Excel файле
print("Размер таблицы (строки, столбцы):", uatTS.shape)

Размер таблицы (строки, столбцы): (599, 73)

In [4]:
print("Названия колонок:", uatTS.columns.tolist())

Названия колонок: ['Ref', 'IsFolder', 'DeletionMark', 'Parent', 'Description', 'ОграниченияДляЗаказов', 'Параметры', 'МестаСтоянок', 'VIN', 'АвтоматическиСписыватьРасходТопливаНаЗапуск', 'БалансоваяСтоимость', 'ВидМоделиТС', 'ВладелецТС', 'ГабаритныйРазмерВысота', 'ГабаритныйРазмерДлина', 'ГабаритныйРазмерШирина', 'Гараж', 'ГаражныйНомер', 'ГодВыпуска', 'ГосударственныйНомер', 'ДатаВводаВЭксплуатацию', 'ДатаВыбытия', 'ДатаПостановкиНаУчетГИБДД', 'ЕдиницаИзмеренияНалоговойБазы', 'ЗаполнятьПутевойЛистСпискомОборудования', 'ИДвСистемеНавигации', 'ИконкаНаКарте', 'КодПоКлассификатору', 'Колонна', 'Комментарий', 'ЛицензионнаяКарточка', 'Модель', 'МодельДвигателя', 'МощностьДвигателяКВт', 'МощностьДвигателяЛС', 'НалоговаяБаза', 'НачальнаяНаработка', 'НачальныйПробег', 'НачислятьТранспортныйНалог', 'НомерДвигателя', 'НомерКПП', 'НомерКузова', 'НомерЛицензионнойКарточки', 'НомерСерииЛицензионнойКарточки', 'НомерШасси', 'Организация', 'ОсновноеСредство', 'ОсновноеУсловиеРаботы', 'ОсновнойВидПЛ', 'ОсновнойРежимРаботы', 'Подразделение', 'ПолезныйРазмерВысота', 'ПолезныйРазмерДлина', 'ПолезныйРазмерШирина', 'ПривлеченноеТС', 'СерияЛицензионнойКарточки', 'СобственныйВес', 'СрокИспользования', 'СтавкаТранпортногоНалога', 'ТипТС', 'ТипТСПоВоенкомату', 'ЦветКузова', 'ЦветМаршрутаНаКарте', 'TTID', 'Исполнитель', 'Телефон', 'Виртуальное', 'асНеОплачиватьШтрафы', 'VIN2', 'НомерБортовогоУстройстваАвтодор', 'НомерБортовогоУстройстваПлатон', 'ББ_ГосударственныйНомерСлужебный', 'ББ_КоличествоМест']

In [5]:
#Посмотрим на значения данных в uatTS
uatTS.head(20)

,Ref,IsFolder,DeletionMark,Parent,Description,ОграниченияДляЗаказов,Параметры,МестаСтоянок,VIN,АвтоматическиСписыватьРасходТопливаНаЗапуск,...,TTID,Исполнитель,Телефон,Виртуальное,асНеОплачиватьШтрафы,VIN2,НомерБортовогоУстройстваАвтодор,НомерБортовогоУстройстваПлатон,ББ_ГосударственныйНомерСлужебный,ББ_КоличествоМест
0,88db6c08-af65-11e3-b8a1-0025906734d9,True,False,00000000-0000-0000-0000-000000000000,Автобусы,[Table],[Table],NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,abf811b6-5b5c-11e8-80cf-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (51+1),[Table],[Table],NaN,LZYTATF68J1005521,0.0,...,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07,NaN,0.0,0.0,NaN,3086595000029102552,NaN,NaN,0.0
2,fc89bf26-b591-11e3-b8a1-0025906734d9,True,False,00000000-0000-0000-0000-000000000000,Сторонние,[Table],[Table],NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ed84f4cd-cfdf-11e5-84ea-002590f18851,True,False,fc89bf26-b591-11e3-b8a1-0025906734d9,ИП Хлюстов(Стрелка),[Table],[Table],NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,c54eec64-d338-11e7-80cb-00155ddeca01,False,False,ed84f4cd-cfdf-11e5-84ea-002590f18851,433MB E-212,[Table],[Table],NaN,NaN,0.0,...,0.0,9207714d-4f0f-11e6-b507-002590f18851,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
5,e521e135-3c6e-11e7-80c9-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (53+1),[Table],[Table],NaN,LZYTATF64H1007857,0.0,...,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
6,7897aeaf-d084-11e3-98d9-0025906734d9,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Scania (59),[Table],[Table],NaN,YS2K6X20001887290,0.0,...,1372.0,57209fc0-abea-11e6-80c4-00155ddeca07,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
7,83364d8d-6886-11e8-80cf-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (53+1),[Table],[Table],NaN,LZYTATF64J1005709,0.0,...,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07,NaN,0.0,0.0,NaN,3086595000030567843,NaN,NaN,0.0
8,9f06b3df-4c3e-11e7-80c9-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (53+1),[Table],[Table],NaN,LZYTATF66H1008881,0.0,...,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
9,2bcb2d51-6886-11e8-80cf-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (53+1),[Table],[Table],NaN,LZYTATF67J1005705,0.0,...,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07,NaN,0.0,0.0,NaN,3086595000029102792,NaN,NaN,0.0
10,948ec289-30bc-11e7-80c9-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (53+1),[Table],[Table],NaN,LZYTATF6XH1006597,0.0,...,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
11,61d77b90-5b5c-11e8-80cf-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (51+1),[Table],[Table],NaN,LZYTATF61J1005523,0.0,...,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07,NaN,0.0,0.0,NaN,нет,NaN,NaN,0.0
12,3045e7b4-65a7-11e8-80cf-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (51+1),[Table],[Table],NaN,LZYTATF6XJ1005648,0.0,...,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
13,5359bed0-2e21-11e6-b507-002590f18851,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,MAN LION'S COACH(59),[Table],[Table],NaN,WMAR08ZZ7GT023150,0.0,...,0.0,6960545b-c84f-11e3-98d9-0025906734d9,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
14,fcfe3d9f-d086-11e3-98d9-0025906734d9,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Scania (59),[Table],[Table],NaN,YS2K6X20001887360,0.0,...,1374.0,57209fc0-abea-11e6-80c4-00155ddeca07,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
15,54b827de-3e3b-11e8-80cd-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (51+1),[Table],[Table],NaN,LZYTATF68J1005535,0.0,...,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
16,d0550984-364a-11e7-80c9-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (53+1),[Table],[Table],NaN,LZYTATF60H1006592,0.0,...,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
17,693dc40a-b001-11e3-b8a1-0025906734d9,True,False,00000000-0000-0000-0000-000000000000,Легковые,[Table],[Table],NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,d8969920-794e-11e5-a59e-002590f18851,False,False,693dc40a-b001-11e3-b8a1-0025906734d9,Mercedes Vito,[Table],[Table],NaN,WDF44770313083032,0.0,...,0.0,00000000-0000-0000-0000-000000000000,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
19,3b8e0e9f-af66-11e3-b8a1-0025906734d9,True,False,00000000-0000-0000-0000-000000000000,Микроавтобусы,[Table],[Table],NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#Оставим в uatTS нужные колонки для работы
columns_to_keep = [
    'Ref', 'IsFolder', 'DeletionMark', 'Parent', 'Description', 'ОграниченияДляЗаказов', 
    'Параметры', 'Гараж', 'ГаражныйНомер', 'ГодВыпуска', 'ГосударственныйНомер',
    'ДатаВводаВЭксплуатацию', 'ДатаВыбытия', 'ДатаПостановкиНаУчетГИБДД', 
    'Комментарий', 'Модель', 'МодельДвигателя', 'МощностьДвигателяКВт', 'МощностьДвигателяЛС', 
    'НачальныйПробег', 'ТипТС', 'ЦветКузова',  'TTID', 'Исполнитель'
]

In [8]:
# Проверка наличия колонок
missing_columns = [col for col in columns_to_keep if col not in uatTS.columns]

if missing_columns:
    print("В датафрейме отсутствуют следующие колонки:")
    for col in missing_columns:
        print(" -", col)

# Фильтрация по доступным колонкам
available_columns = [col for col in columns_to_keep if col in uatTS.columns]
uatTS_filtered = uatTS[available_columns]

# Проверка, что в uatTS_filtered остались только нужные колонки
if set(uatTS_filtered.columns) == set(columns_to_keep):
    print("В датафрейме остались только нужные колонки.")
else:
    extra_columns = set(uatTS_filtered.columns) - set(columns_to_keep)
    if extra_columns:
        print("Остались лишние колонки в отфильтрованном датафрейме:")
        for col in extra_columns:
            print(" -", col)

# Вывод результата
print("\nРазмер отфильтрованного датафрейма:", uatTS_filtered.shape)
uatTS_filtered.head()

В датафрейме остались только нужные колонки.

Размер отфильтрованного датафрейма: (599, 24)

,Ref,IsFolder,DeletionMark,Parent,Description,ОграниченияДляЗаказов,Параметры,Гараж,ГаражныйНомер,ГодВыпуска,...,Комментарий,Модель,МодельДвигателя,МощностьДвигателяКВт,МощностьДвигателяЛС,НачальныйПробег,ТипТС,ЦветКузова,TTID,Исполнитель
0,88db6c08-af65-11e3-b8a1-0025906734d9,True,False,00000000-0000-0000-0000-000000000000,Автобусы,[Table],[Table],NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,abf811b6-5b5c-11e8-80cf-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (51+1),[Table],[Table],990011ea-f717-11e5-a090-002590f18851,042,2018.0,...,NaN,bd0cb764-445a-11e7-80c9-00155ddeca01,ZK6122H9,265.0,360.0,0.0,c6a37c1c-0584-11e7-80c4-00155ddeca07,e19d0da2-af59-11e3-b8a1-0025906734d9,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07
2,fc89bf26-b591-11e3-b8a1-0025906734d9,True,False,00000000-0000-0000-0000-000000000000,Сторонние,[Table],[Table],NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ed84f4cd-cfdf-11e5-84ea-002590f18851,True,False,fc89bf26-b591-11e3-b8a1-0025906734d9,ИП Хлюстов(Стрелка),[Table],[Table],NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,c54eec64-d338-11e7-80cb-00155ddeca01,False,False,ed84f4cd-cfdf-11e5-84ea-002590f18851,433MB E-212,[Table],[Table],00000000-0000-0000-0000-000000000000,433,0.0,...,NaN,cb987ef5-6831-4243-927f-2eea92204cd2,NaN,0.0,0.0,0.0,3692b1dc-bc95-11e3-b8a1-0025906734d9,00000000-0000-0000-0000-000000000000,0.0,9207714d-4f0f-11e6-b507-002590f18851

In [9]:
# Замена всех NaN
uatTS_filtered = uatTS_filtered.fillna("Not Information")
uatTS_filtered.head()

,Ref,IsFolder,DeletionMark,Parent,Description,ОграниченияДляЗаказов,Параметры,Гараж,ГаражныйНомер,ГодВыпуска,...,Комментарий,Модель,МодельДвигателя,МощностьДвигателяКВт,МощностьДвигателяЛС,НачальныйПробег,ТипТС,ЦветКузова,TTID,Исполнитель
0,88db6c08-af65-11e3-b8a1-0025906734d9,True,False,00000000-0000-0000-0000-000000000000,Автобусы,[Table],[Table],Not Information,Not Information,Not Information,...,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information
1,abf811b6-5b5c-11e8-80cf-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (51+1),[Table],[Table],990011ea-f717-11e5-a090-002590f18851,042,2018.0,...,Not Information,bd0cb764-445a-11e7-80c9-00155ddeca01,ZK6122H9,265.0,360.0,0.0,c6a37c1c-0584-11e7-80c4-00155ddeca07,e19d0da2-af59-11e3-b8a1-0025906734d9,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07
2,fc89bf26-b591-11e3-b8a1-0025906734d9,True,False,00000000-0000-0000-0000-000000000000,Сторонние,[Table],[Table],Not Information,Not Information,Not Information,...,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information
3,ed84f4cd-cfdf-11e5-84ea-002590f18851,True,False,fc89bf26-b591-11e3-b8a1-0025906734d9,ИП Хлюстов(Стрелка),[Table],[Table],Not Information,Not Information,Not Information,...,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information
4,c54eec64-d338-11e7-80cb-00155ddeca01,False,False,ed84f4cd-cfdf-11e5-84ea-002590f18851,433MB E-212,[Table],[Table],00000000-0000-0000-0000-000000000000,433,0.0,...,Not Information,cb987ef5-6831-4243-927f-2eea92204cd2,Not Information,0.0,0.0,0.0,3692b1dc-bc95-11e3-b8a1-0025906734d9,00000000-0000-0000-0000-000000000000,0.0,9207714d-4f0f-11e6-b507-002590f18851

In [11]:
#Исходя из того, что в таблице присутствует достаточное количество значений "00000000-0000-0000-0000-000000000000", заменим это значение на Not information
uatTS_filtered = uatTS_filtered.replace('00000000-0000-0000-0000-000000000000', 'Not Information')
uatTS_filtered = uatTS_filtered.replace(0.0, 'Not Information')
uatTS_filtered.head()

,Ref,IsFolder,DeletionMark,Parent,Description,ОграниченияДляЗаказов,Параметры,Гараж,ГаражныйНомер,ГодВыпуска,...,Комментарий,Модель,МодельДвигателя,МощностьДвигателяКВт,МощностьДвигателяЛС,НачальныйПробег,ТипТС,ЦветКузова,TTID,Исполнитель
0,88db6c08-af65-11e3-b8a1-0025906734d9,True,False,Not Information,Автобусы,[Table],[Table],Not Information,Not Information,Not Information,...,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information
1,abf811b6-5b5c-11e8-80cf-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (51+1),[Table],[Table],990011ea-f717-11e5-a090-002590f18851,042,2018.0,...,Not Information,bd0cb764-445a-11e7-80c9-00155ddeca01,ZK6122H9,265.0,360.0,Not Information,c6a37c1c-0584-11e7-80c4-00155ddeca07,e19d0da2-af59-11e3-b8a1-0025906734d9,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07
2,fc89bf26-b591-11e3-b8a1-0025906734d9,True,False,Not Information,Сторонние,[Table],[Table],Not Information,Not Information,Not Information,...,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information
3,ed84f4cd-cfdf-11e5-84ea-002590f18851,True,False,fc89bf26-b591-11e3-b8a1-0025906734d9,ИП Хлюстов(Стрелка),[Table],[Table],Not Information,Not Information,Not Information,...,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information
4,c54eec64-d338-11e7-80cb-00155ddeca01,False,False,ed84f4cd-cfdf-11e5-84ea-002590f18851,433MB E-212,[Table],[Table],Not Information,433,Not Information,...,Not Information,cb987ef5-6831-4243-927f-2eea92204cd2,Not Information,Not Information,Not Information,Not Information,3692b1dc-bc95-11e3-b8a1-0025906734d9,Not Information,Not Information,9207714d-4f0f-11e6-b507-002590f18851