In [1]:
import pandas as pd
import os
from openpyxl import load_workbook
from openpyxl.utils import get_column_letter

In [2]:
file_path = '../datasets/uatTS.xlsx' 
uatTS = pd.read_excel(file_path)

In [3]:
#Посмотрим на количество данных в Excel файле
print("Размер таблицы (строки, столбцы):", uatTS.shape)

Размер таблицы (строки, столбцы): (599, 73)

In [4]:
print("Названия колонок:", uatTS.columns.tolist())

Названия колонок: ['Ref', 'IsFolder', 'DeletionMark', 'Parent', 'Description', 'ОграниченияДляЗаказов', 'Параметры', 'МестаСтоянок', 'VIN', 'АвтоматическиСписыватьРасходТопливаНаЗапуск', 'БалансоваяСтоимость', 'ВидМоделиТС', 'ВладелецТС', 'ГабаритныйРазмерВысота', 'ГабаритныйРазмерДлина', 'ГабаритныйРазмерШирина', 'Гараж', 'ГаражныйНомер', 'ГодВыпуска', 'ГосударственныйНомер', 'ДатаВводаВЭксплуатацию', 'ДатаВыбытия', 'ДатаПостановкиНаУчетГИБДД', 'ЕдиницаИзмеренияНалоговойБазы', 'ЗаполнятьПутевойЛистСпискомОборудования', 'ИДвСистемеНавигации', 'ИконкаНаКарте', 'КодПоКлассификатору', 'Колонна', 'Комментарий', 'ЛицензионнаяКарточка', 'Модель', 'МодельДвигателя', 'МощностьДвигателяКВт', 'МощностьДвигателяЛС', 'НалоговаяБаза', 'НачальнаяНаработка', 'НачальныйПробег', 'НачислятьТранспортныйНалог', 'НомерДвигателя', 'НомерКПП', 'НомерКузова', 'НомерЛицензионнойКарточки', 'НомерСерииЛицензионнойКарточки', 'НомерШасси', 'Организация', 'ОсновноеСредство', 'ОсновноеУсловиеРаботы', 'ОсновнойВидПЛ', 'ОсновнойРежимРаботы', 'Подразделение', 'ПолезныйРазмерВысота', 'ПолезныйРазмерДлина', 'ПолезныйРазмерШирина', 'ПривлеченноеТС', 'СерияЛицензионнойКарточки', 'СобственныйВес', 'СрокИспользования', 'СтавкаТранпортногоНалога', 'ТипТС', 'ТипТСПоВоенкомату', 'ЦветКузова', 'ЦветМаршрутаНаКарте', 'TTID', 'Исполнитель', 'Телефон', 'Виртуальное', 'асНеОплачиватьШтрафы', 'VIN2', 'НомерБортовогоУстройстваАвтодор', 'НомерБортовогоУстройстваПлатон', 'ББ_ГосударственныйНомерСлужебный', 'ББ_КоличествоМест']

In [5]:
#Посмотрим на значения данных в uatTS
uatTS.head(20)

,Ref,IsFolder,DeletionMark,Parent,Description,ОграниченияДляЗаказов,Параметры,МестаСтоянок,VIN,АвтоматическиСписыватьРасходТопливаНаЗапуск,...,TTID,Исполнитель,Телефон,Виртуальное,асНеОплачиватьШтрафы,VIN2,НомерБортовогоУстройстваАвтодор,НомерБортовогоУстройстваПлатон,ББ_ГосударственныйНомерСлужебный,ББ_КоличествоМест
0,88db6c08-af65-11e3-b8a1-0025906734d9,True,False,00000000-0000-0000-0000-000000000000,Автобусы,[Table],[Table],NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,abf811b6-5b5c-11e8-80cf-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (51+1),[Table],[Table],NaN,LZYTATF68J1005521,0.0,...,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07,NaN,0.0,0.0,NaN,3086595000029102552,NaN,NaN,0.0
2,fc89bf26-b591-11e3-b8a1-0025906734d9,True,False,00000000-0000-0000-0000-000000000000,Сторонние,[Table],[Table],NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ed84f4cd-cfdf-11e5-84ea-002590f18851,True,False,fc89bf26-b591-11e3-b8a1-0025906734d9,ИП Хлюстов(Стрелка),[Table],[Table],NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,c54eec64-d338-11e7-80cb-00155ddeca01,False,False,ed84f4cd-cfdf-11e5-84ea-002590f18851,433MB E-212,[Table],[Table],NaN,NaN,0.0,...,0.0,9207714d-4f0f-11e6-b507-002590f18851,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
5,e521e135-3c6e-11e7-80c9-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (53+1),[Table],[Table],NaN,LZYTATF64H1007857,0.0,...,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
6,7897aeaf-d084-11e3-98d9-0025906734d9,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Scania (59),[Table],[Table],NaN,YS2K6X20001887290,0.0,...,1372.0,57209fc0-abea-11e6-80c4-00155ddeca07,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
7,83364d8d-6886-11e8-80cf-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (53+1),[Table],[Table],NaN,LZYTATF64J1005709,0.0,...,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07,NaN,0.0,0.0,NaN,3086595000030567843,NaN,NaN,0.0
8,9f06b3df-4c3e-11e7-80c9-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (53+1),[Table],[Table],NaN,LZYTATF66H1008881,0.0,...,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
9,2bcb2d51-6886-11e8-80cf-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (53+1),[Table],[Table],NaN,LZYTATF67J1005705,0.0,...,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07,NaN,0.0,0.0,NaN,3086595000029102792,NaN,NaN,0.0
10,948ec289-30bc-11e7-80c9-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (53+1),[Table],[Table],NaN,LZYTATF6XH1006597,0.0,...,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
11,61d77b90-5b5c-11e8-80cf-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (51+1),[Table],[Table],NaN,LZYTATF61J1005523,0.0,...,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07,NaN,0.0,0.0,NaN,нет,NaN,NaN,0.0
12,3045e7b4-65a7-11e8-80cf-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (51+1),[Table],[Table],NaN,LZYTATF6XJ1005648,0.0,...,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
13,5359bed0-2e21-11e6-b507-002590f18851,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,MAN LION'S COACH(59),[Table],[Table],NaN,WMAR08ZZ7GT023150,0.0,...,0.0,6960545b-c84f-11e3-98d9-0025906734d9,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
14,fcfe3d9f-d086-11e3-98d9-0025906734d9,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Scania (59),[Table],[Table],NaN,YS2K6X20001887360,0.0,...,1374.0,57209fc0-abea-11e6-80c4-00155ddeca07,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
15,54b827de-3e3b-11e8-80cd-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (51+1),[Table],[Table],NaN,LZYTATF68J1005535,0.0,...,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
16,d0550984-364a-11e7-80c9-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (53+1),[Table],[Table],NaN,LZYTATF60H1006592,0.0,...,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
17,693dc40a-b001-11e3-b8a1-0025906734d9,True,False,00000000-0000-0000-0000-000000000000,Легковые,[Table],[Table],NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,d8969920-794e-11e5-a59e-002590f18851,False,False,693dc40a-b001-11e3-b8a1-0025906734d9,Mercedes Vito,[Table],[Table],NaN,WDF44770313083032,0.0,...,0.0,00000000-0000-0000-0000-000000000000,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0
19,3b8e0e9f-af66-11e3-b8a1-0025906734d9,True,False,00000000-0000-0000-0000-000000000000,Микроавтобусы,[Table],[Table],NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#Оставим в uatTS нужные колонки для работы
columns_to_keep = [
    'Ref', 'IsFolder', 'DeletionMark', 'Parent', 'Description', 'ОграниченияДляЗаказов', 
    'Параметры', 'Гараж', 'ГаражныйНомер', 'ГодВыпуска', 'ГосударственныйНомер',
    'ДатаВводаВЭксплуатацию', 'ДатаВыбытия', 'ДатаПостановкиНаУчетГИБДД', 
    'Комментарий', 'Модель', 'МодельДвигателя', 'МощностьДвигателяКВт', 'МощностьДвигателяЛС', 
    'НачальныйПробег', 'ТипТС', 'ЦветКузова',  'TTID', 'Исполнитель'
]

In [8]:
# Проверка наличия колонок
missing_columns = [col for col in columns_to_keep if col not in uatTS.columns]

if missing_columns:
    print("В датафрейме отсутствуют следующие колонки:")
    for col in missing_columns:
        print(" -", col)

# Фильтрация по доступным колонкам
available_columns = [col for col in columns_to_keep if col in uatTS.columns]
uatTS_filtered = uatTS[available_columns]

# Проверка, что в uatTS_filtered остались только нужные колонки
if set(uatTS_filtered.columns) == set(columns_to_keep):
    print("В датафрейме остались только нужные колонки.")
else:
    extra_columns = set(uatTS_filtered.columns) - set(columns_to_keep)
    if extra_columns:
        print("Остались лишние колонки в отфильтрованном датафрейме:")
        for col in extra_columns:
            print(" -", col)

# Вывод результата
print("\nРазмер отфильтрованного датафрейма:", uatTS_filtered.shape)
uatTS_filtered.head()

В датафрейме остались только нужные колонки.

Размер отфильтрованного датафрейма: (599, 24)

,Ref,IsFolder,DeletionMark,Parent,Description,ОграниченияДляЗаказов,Параметры,Гараж,ГаражныйНомер,ГодВыпуска,...,Комментарий,Модель,МодельДвигателя,МощностьДвигателяКВт,МощностьДвигателяЛС,НачальныйПробег,ТипТС,ЦветКузова,TTID,Исполнитель
0,88db6c08-af65-11e3-b8a1-0025906734d9,True,False,00000000-0000-0000-0000-000000000000,Автобусы,[Table],[Table],NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,abf811b6-5b5c-11e8-80cf-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (51+1),[Table],[Table],990011ea-f717-11e5-a090-002590f18851,042,2018.0,...,NaN,bd0cb764-445a-11e7-80c9-00155ddeca01,ZK6122H9,265.0,360.0,0.0,c6a37c1c-0584-11e7-80c4-00155ddeca07,e19d0da2-af59-11e3-b8a1-0025906734d9,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07
2,fc89bf26-b591-11e3-b8a1-0025906734d9,True,False,00000000-0000-0000-0000-000000000000,Сторонние,[Table],[Table],NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ed84f4cd-cfdf-11e5-84ea-002590f18851,True,False,fc89bf26-b591-11e3-b8a1-0025906734d9,ИП Хлюстов(Стрелка),[Table],[Table],NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,c54eec64-d338-11e7-80cb-00155ddeca01,False,False,ed84f4cd-cfdf-11e5-84ea-002590f18851,433MB E-212,[Table],[Table],00000000-0000-0000-0000-000000000000,433,0.0,...,NaN,cb987ef5-6831-4243-927f-2eea92204cd2,NaN,0.0,0.0,0.0,3692b1dc-bc95-11e3-b8a1-0025906734d9,00000000-0000-0000-0000-000000000000,0.0,9207714d-4f0f-11e6-b507-002590f18851

In [9]:
# Замена всех NaN
uatTS_filtered = uatTS_filtered.fillna("Not Information")
uatTS_filtered.head()

,Ref,IsFolder,DeletionMark,Parent,Description,ОграниченияДляЗаказов,Параметры,Гараж,ГаражныйНомер,ГодВыпуска,...,Комментарий,Модель,МодельДвигателя,МощностьДвигателяКВт,МощностьДвигателяЛС,НачальныйПробег,ТипТС,ЦветКузова,TTID,Исполнитель
0,88db6c08-af65-11e3-b8a1-0025906734d9,True,False,00000000-0000-0000-0000-000000000000,Автобусы,[Table],[Table],Not Information,Not Information,Not Information,...,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information
1,abf811b6-5b5c-11e8-80cf-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (51+1),[Table],[Table],990011ea-f717-11e5-a090-002590f18851,042,2018.0,...,Not Information,bd0cb764-445a-11e7-80c9-00155ddeca01,ZK6122H9,265.0,360.0,0.0,c6a37c1c-0584-11e7-80c4-00155ddeca07,e19d0da2-af59-11e3-b8a1-0025906734d9,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07
2,fc89bf26-b591-11e3-b8a1-0025906734d9,True,False,00000000-0000-0000-0000-000000000000,Сторонние,[Table],[Table],Not Information,Not Information,Not Information,...,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information
3,ed84f4cd-cfdf-11e5-84ea-002590f18851,True,False,fc89bf26-b591-11e3-b8a1-0025906734d9,ИП Хлюстов(Стрелка),[Table],[Table],Not Information,Not Information,Not Information,...,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information
4,c54eec64-d338-11e7-80cb-00155ddeca01,False,False,ed84f4cd-cfdf-11e5-84ea-002590f18851,433MB E-212,[Table],[Table],00000000-0000-0000-0000-000000000000,433,0.0,...,Not Information,cb987ef5-6831-4243-927f-2eea92204cd2,Not Information,0.0,0.0,0.0,3692b1dc-bc95-11e3-b8a1-0025906734d9,00000000-0000-0000-0000-000000000000,0.0,9207714d-4f0f-11e6-b507-002590f18851

In [11]:
#Исходя из того, что в таблице присутствует достаточное количество значений "00000000-0000-0000-0000-000000000000", заменим это значение на Not information
uatTS_filtered = uatTS_filtered.replace('00000000-0000-0000-0000-000000000000', 'Not Information')
uatTS_filtered = uatTS_filtered.replace(0.0, 'Not Information')
uatTS_filtered.head()

,Ref,IsFolder,DeletionMark,Parent,Description,ОграниченияДляЗаказов,Параметры,Гараж,ГаражныйНомер,ГодВыпуска,...,Комментарий,Модель,МодельДвигателя,МощностьДвигателяКВт,МощностьДвигателяЛС,НачальныйПробег,ТипТС,ЦветКузова,TTID,Исполнитель
0,88db6c08-af65-11e3-b8a1-0025906734d9,True,False,Not Information,Автобусы,[Table],[Table],Not Information,Not Information,Not Information,...,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information
1,abf811b6-5b5c-11e8-80cf-00155ddeca01,False,False,88db6c08-af65-11e3-b8a1-0025906734d9,Yutong (51+1),[Table],[Table],990011ea-f717-11e5-a090-002590f18851,042,2018.0,...,Not Information,bd0cb764-445a-11e7-80c9-00155ddeca01,ZK6122H9,265.0,360.0,Not Information,c6a37c1c-0584-11e7-80c4-00155ddeca07,e19d0da2-af59-11e3-b8a1-0025906734d9,1391.0,57209fc0-abea-11e6-80c4-00155ddeca07
2,fc89bf26-b591-11e3-b8a1-0025906734d9,True,False,Not Information,Сторонние,[Table],[Table],Not Information,Not Information,Not Information,...,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information
3,ed84f4cd-cfdf-11e5-84ea-002590f18851,True,False,fc89bf26-b591-11e3-b8a1-0025906734d9,ИП Хлюстов(Стрелка),[Table],[Table],Not Information,Not Information,Not Information,...,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information,Not Information
4,c54eec64-d338-11e7-80cb-00155ddeca01,False,False,ed84f4cd-cfdf-11e5-84ea-002590f18851,433MB E-212,[Table],[Table],Not Information,433,Not Information,...,Not Information,cb987ef5-6831-4243-927f-2eea92204cd2,Not Information,Not Information,Not Information,Not Information,3692b1dc-bc95-11e3-b8a1-0025906734d9,Not Information,Not Information,9207714d-4f0f-11e6-b507-002590f18851

In [12]:
#Посмотрим на уникальные значения каждой колонки
for col in uatTS_filtered.columns:
    print(f"\nУникальные значения в колонке '{col}': ({uatTS_filtered[col].nunique()} всего)")
    print(uatTS_filtered[col].value_counts().head(10))

Уникальные значения в колонке 'Ref': (599 всего)
88db6c08-af65-11e3-b8a1-0025906734d9    1
f4495613-93fc-11e9-80d5-00155d6f0a01    1
29b98654-6ee2-11e8-80cf-00155ddeca01    1
c2b7479d-9f3e-11e9-80d5-00155d6f0a01    1
bcf56656-4b03-11e8-80cf-00155ddeca01    1
4523617f-7196-11e9-80d5-00155d6f0a01    1
e46dfb0b-e677-11e3-9011-0025906734d9    1
6181d2ca-18c5-11e4-b4a7-002590f18851    1
7b018de2-4499-11e8-80ce-00155ddeca01    1
668fa4de-6061-11e9-80d3-00155ddeca01    1
Name: Ref, dtype: int64

Уникальные значения в колонке 'IsFolder': (2 всего)
False    543
True      56
Name: IsFolder, dtype: int64

Уникальные значения в колонке 'DeletionMark': (2 всего)
False    594
True       5
Name: DeletionMark, dtype: int64

Уникальные значения в колонке 'Parent': (57 всего)
88db6c08-af65-11e3-b8a1-0025906734d9    207
3b8e0e9f-af66-11e3-b8a1-0025906734d9     79
693dc40a-b001-11e3-b8a1-0025906734d9     72
fc89bf26-b591-11e3-b8a1-0025906734d9     44
7e87a54d-1850-11e6-b507-002590f18851     18
2c87d048-fe8d-11e3-b4a7-002590f18851     16
204e283f-49a4-11e6-b507-002590f18851     16
1fffdc0a-bae0-11e6-80c4-00155ddeca07     11
7615c1ed-b665-11e8-80d0-00155ddeca01      9
42cf2730-4c2b-11e7-80c9-00155ddeca01      8
Name: Parent, dtype: int64

Уникальные значения в колонке 'Description': (271 всего)
Yutong (51+1)              78
Yutong (53+1)              63
MB Sprinter (19)           49
Toyota Camry               39
Skoda Octavia              14
MB Sprinter (16)           14
Yutong (49+1)              13
Scania (51+1)              12
MB Sprinter (19+спинка)     6
Шкода Октавия               6
Name: Description, dtype: int64

Уникальные значения в колонке 'ОграниченияДляЗаказов': (1 всего)
[Table]    599
Name: ОграниченияДляЗаказов, dtype: int64

Уникальные значения в колонке 'Параметры': (1 всего)
[Table]    599
Name: Параметры, dtype: int64

Уникальные значения в колонке 'Гараж': (28 всего)
Not Information                         211
990011ea-f717-11e5-a090-002590f18851     95
61d7347f-af59-11e3-b8a1-0025906734d9     80
12513d37-cc13-11e7-80cb-00155ddeca01     51
c2c54e2b-b11f-11ee-aabc-00155dded61a     32
54e4b39c-34b7-11e4-b4a7-002590f18851     31
c56678ad-c97f-11ee-aabd-00155dded61a     25
700fd504-9ed3-11ed-aab7-00155dded61a      9
6e318ae8-7eeb-11ea-80d7-00155d6f0a01      7
cea3c0c9-5d13-11ea-80d7-00155d6f0a01      7
Name: Гараж, dtype: int64

Уникальные значения в колонке 'ГаражныйНомер': (441 всего)
Not Information    64
466                 4
936                 3
731                 3
219                 3
107                 3
076                 3
708                 3
221                 3
137                 3
Name: ГаражныйНомер, dtype: int64

Уникальные значения в колонке 'ГодВыпуска': (10 всего)
Not Information    236
2018.0             100
2017.0              98
2019.0              92
2014.0              25
2015.0              15
2016.0              14
2013.0              12
2011.0               4
2012.0               3
Name: ГодВыпуска, dtype: int64

Уникальные значения в колонке 'ГосударственныйНомер': (540 всего)
Not Information    56
с600оо 77           2
м221оо77            2
с737оо 77           2
Р 621 ОМ 750        2
р301ух777           1
а271со750           1
о176кн 750          1
у444ех 750          1
н404ау 799          1
Name: ГосударственныйНомер, dtype: int64

Уникальные значения в колонке 'ДатаВводаВЭксплуатацию': (101 всего)
Not Information        237
2014-01-01 00:00:00     17
2019-06-20 00:00:00     13
2019-02-04 00:00:00     12
2017-05-03 00:00:00     11
2019-05-08 00:00:00     10
2019-04-28 00:00:00     10
2019-04-19 00:00:00     10
2019-05-07 00:00:00     10
2019-05-22 00:00:00     10
Name: ДатаВводаВЭксплуатацию, dtype: int64

Уникальные значения в колонке 'ДатаВыбытия': (107 всего)
Not Information        387
2020-01-16 00:00:00     18
2020-08-11 00:00:00     13
2020-04-23 00:00:00     10
2020-07-21 00:00:00      7
2021-04-14 00:00:00      6
2020-02-11 00:00:00      5
2023-10-06 00:00:00      5
2021-12-30 00:00:00      4
2020-11-19 00:00:00      4
Name: ДатаВыбытия, dtype: int64

Уникальные значения в колонке 'ДатаПостановкиНаУчетГИБДД': (103 всего)
Not Information        252
2018-04-07 00:00:00     20
2019-04-19 00:00:00     10
2019-05-07 00:00:00     10
2019-05-08 00:00:00     10
2019-05-21 00:00:00     10
2018-06-02 00:00:00     10
2017-05-03 00:00:00      9
2018-06-01 00:00:00      9
2018-07-28 00:00:00      8
Name: ДатаПостановкиНаУчетГИБДД, dtype: int64

Уникальные значения в колонке 'Комментарий': (5 всего)
Not Information                                      595
КОФЕМАНИЯ (МАКСФЛАЙ)                                   1
Бывший гос. номер: МТ 552 77                           1
был скаут id 15554, который принадлжеит ПАЗ во914      1
новый                                                  1
Name: Комментарий, dtype: int64

Уникальные значения в колонке 'Модель': (73 всего)
bd0cb764-445a-11e7-80c9-00155ddeca01    93
76993427-2f05-11e7-80c9-00155ddeca01    65
Not Information                         56
d30bc23d-0e55-11e4-b4a7-002590f18851    30
3bebff9e-178b-4d3f-9cf3-f03c3c276720    27
a8053fc6-33a0-472b-b633-e894de9b6c43    26
460d9b05-cbde-11e5-84ea-002590f18851    21
a3f4a6b8-3d8d-11e8-80cd-00155ddeca01    20
792d745d-a3fc-11e5-84ea-002590f18851    17
633d201b-68d7-11e9-80d5-00155d6f0a01    17
Name: Модель, dtype: int64

Уникальные значения в колонке 'МодельДвигателя': (27 всего)
Not Information         350
ZK6122H9                121
CUMMINSISL36050          37
2AR                      34
ДИЗЕЛЬНЫЙ                12
DC13 1103 K016784697      6
ZK6121HQ                  5
D2066LUH22                4
2GR                       4
Дизельный                 4
Name: МодельДвигателя, dtype: int64

Уникальные значения в колонке 'МощностьДвигателяКВт': (25 всего)
Not Information    332
265.0              158
133.0               35
294.0               15
110.0               13
81.0                 5
247.0                5
124.2                5
228.0                4
183.0                4
Name: МощностьДвигателяКВт, dtype: int64

Уникальные значения в колонке 'МощностьДвигателяЛС': (21 всего)
Not Information    331
360.0              158
181.0               35
400.0               16
150.0               15
110.0                6
249.0                5
335.0                5
168.0                4
310.0                4
Name: МощностьДвигателяЛС, dtype: int64

Уникальные значения в колонке 'НачальныйПробег': (4 всего)
Not Information    596
2308.0               1
2300.0               1
3258.0               1
Name: НачальныйПробег, dtype: int64

Уникальные значения в колонке 'ТипТС': (32 всего)
c6a37c1c-0584-11e7-80c4-00155ddeca07    89
Not Information                         85
d4ae9ead-0584-11e7-80c4-00155ddeca07    79
da6fd5de-bc94-11e3-b8a1-0025906734d9    68
2bcad513-bc95-11e3-b8a1-0025906734d9    42
4f185112-c925-11e3-98d9-0025906734d9    28
c3fdd0cb-bef6-11e3-ae97-0025906734d9    26
d68b62a7-bef6-11e3-ae97-0025906734d9    26
cb9b63d7-bef6-11e3-ae97-0025906734d9    22
cb9b63d9-bef6-11e3-ae97-0025906734d9    20
Name: ТипТС, dtype: int64

Уникальные значения в колонке 'ЦветКузова': (4 всего)
e19d0da2-af59-11e3-b8a1-0025906734d9    299
Not Information                         236
d71580a5-b321-11e3-b8a1-0025906734d9     62
6c013ec8-3a78-11e4-b4a7-002590f18851      2
Name: ЦветКузова, dtype: int64

Уникальные значения в колонке 'TTID': (44 всего)
Not Information    365
1391.0             128
1012.0              34
1407.0              10
1315.0              10
619.0                9
1398.0               3
1328.0               2
1390.0               2
1200.0               2
Name: TTID, dtype: int64

Уникальные значения в колонке 'Исполнитель': (50 всего)
57209fc0-abea-11e6-80c4-00155ddeca07    260
Not Information                         133
6960546f-c84f-11e3-98d9-0025906734d9     17
d40aecbe-2175-11e6-b507-002590f18851     17
5b1a87da-1393-11e6-b507-002590f18851     17
b1a21863-bade-11e6-80c4-00155ddeca07     11
05d54c0f-928c-11e5-84ea-002590f18851     11
357b1fb3-b664-11e8-80d0-00155ddeca01     10
d04ad314-d6d3-11e8-80d0-00155ddeca01      9
9102184e-28bc-11e6-b507-002590f18851      8
Name: Исполнитель, dtype: int64

In [13]:
# Убедимся, что папка существует
output_dir = '../filtered_datasets'
os.makedirs(output_dir, exist_ok=True)

# Путь к файлу
output_path = os.path.join(output_dir, 'uatTS_filtered.xlsx')

# Сохраняем в Excel
uatTS_filtered.to_excel(output_path, index=False)

# Открываем файл и настраиваем ширину колонок, из-за влияния на отображение данных
wb = load_workbook(output_path)
ws = wb.active

for i, column_cells in enumerate(ws.columns, 1):
    max_length = max(len(str(cell.value)) if cell.value is not None else 0 for cell in column_cells)
    adjusted_width = max_length + 2
    ws.column_dimensions[get_column_letter(i)].width = adjusted_width

# Сохраняем изменения
wb.save(output_path)
print(f"Файл сохранен: {output_path}")

Файл сохранен: ../filtered_datasets\uatTS_filtered.xlsx